 .title {
     font-family: 'Roboto-Condensed';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 80%;
     color: #1C1C1C;
     margin: 0;
     margin-top: 40px;
 }
 
 .productLink {
     margin-right: 25px;
     display: inline-flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     align-content: center;
     gap: 10px;
     font-weight: 400;
     font-size: 10px;
     line-height: 15px;
     color: #353535;
     text-decoration: none;
 }
 
 .productLinkContent {
     margin-right: 16px;
     display: inline-flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     align-content: center;
     gap: 10px;
     text-decoration: none;
     font-weight: 400;
     font-size: 12px;
     line-height: 18px;
     color: #000;
     border: 1px solid #000;
     border-radius: 4px;
     padding: 8px 12px;
     margin-bottom: 15px;
     margin-top: 10px;
 }
 
 .activeContent {
     background: green;
     color: #fff;
 }
 
 .productLinkContent p {
     margin: 0;
 }
 
 .productImg {
     max-width: 60px;
     border-radius: 4px;
     margin-top: 15px;
     margin-bottom: 10px;
 }
 
 .productLink p {
     margin: 0px;
     margin-bottom: 15px;
     max-width: 75px;
     text-align: center;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
 }
 
 .activeImage img {
     border-bottom: 2px solid #5DFF49;
     padding: 2px;
     border-radius: 0;
 }
 
 .coreLojas {
     margin-top: -50px;
     text-align: center;
 }
 
 .coreLojas select {
     font-family: 'WorkSans-Regular';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 140%;
     color: rgb(0, 0, 0);
     padding: 15px;
     border-radius: 100px;
     margin-bottom: 30px;
     -moz-appearance: none;
     /* Firefox */
     -webkit-appearance: none;
     /* Safari and Chrome */
     appearance: none;
     cursor: pointer;
     transition: all 0.5s;
 }
 
 .coreLojas select:hover {
     opacity: 0.5s;
     background-color: #5DFF49;
 }
 
 .cardLojas {
     background: #E8E8E8;
     border-radius: 0px 100px 0px 0px;
     height: 100%;
     padding: 35px;
     width: 50%;
     margin: 0 auto;
     margin-bottom: 30px;
 }
 
 .cardLojas h4 {
     font-family: 'WorkSans-Bold';
     font-style: normal;
     font-weight: 700;
     font-size: 20px;
     line-height: 120%;
     color: #000000;
     text-align: left;
     margin: 0;
 }
 
 .cardLojas p,
 .cardLojas h5,
 .cardLojas h6 {
     font-family: 'WorkSans-Regular';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 140%;
     color: rgb(0, 0, 0);
     margin: 0;
     text-align: left;
 }
 
 .spanFile {
     font-family: 'WorkSans-Regular';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 140%;
     color: rgb(0, 0, 0);
     margin: 0;
     text-align: left;
     display: block;
     margin-top: 15px;
     margin-bottom: 10px;
 }
 
 .form {
     display: flex;
     flex-direction: column;
     max-width: 80%;
     margin-bottom: 50px;
 }
 
 .label {
     font-family: 'WorkSans-Bold';
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 120%;
     color: #000000;
     text-align: left;
     margin: 0;
 }
 
 .required {
     color: red;
 }
 
 .selectDireito,
 .default,
 .textareaDefault {
     margin-bottom: 15px;
     background: #FFFFFF;
     border: 1px solid #E8E8E8;
     border-radius: 10px;
     font-family: 'Roboto-Condensed';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 19px;
     color: #828282;
     padding: 11px 17px;
     margin-top: 5px;
     resize: none;
 }
 
 .button {
     background: #1C1C1C;
     border: 2px solid #1C1C1C;
     border-radius: 10px;
     padding: 4px 16px;
     border: none;
     font-family: 'RobotoCondensed-Bold';
     font-style: normal;
     font-weight: 700;
     font-size: 18px;
     line-height: 20px;
     color: #FFFFFF;
     cursor: pointer;
     height: 35px;
 }
 
 .labelArchive {
     margin-bottom: 25px;
 }
 
 .sucessBox,
 .errorBox {
     font-family: 'WorkSans-Bold';
     font-style: normal;
     font-weight: 700;
     font-size: 20px;
     line-height: 120%;
     color: #000000;
     text-align: left;
     margin: 0;
     text-align: center;
 }
 
 @media (max-width: 767px) {
     .productLink {
         margin-right: 15px;
     }
     .cardLojas {
         width: 100%;
     }
     .spanFile {
         font-size: 13px;
     }
 }
 
 .welcomeControl {
     font-family: 'WorkSans-Regular';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 100%;
     color: #e8e8e8;
     margin: 0;
     padding: 0;
     display: flex;
     align-items: center;
 }
 
 .welcomeControl::before {
     content: ".";
     color: transparent;
     background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 6a5 5 0 100 10 5 5 0 000-10zm0 8a3 3 0 110-5.999A3 3 0 0114 14z' fill='%23E8E8E8'/%3E%3Cpath d='M14 0a14 14 0 1014 14A14.016 14.016 0 0014 0zM8 24.377V23a3.003 3.003 0 013-3h6a3.003 3.003 0 013 3v1.377a11.899 11.899 0 01-12 0zm13.992-1.451A5.002 5.002 0 0017 18h-6a5.002 5.002 0 00-4.992 4.926 12 12 0 1115.985 0h-.001z' fill='%23E8E8E8'/%3E%3C/svg%3E");
     background-repeat: no-repeat;
     background-position: 50%;
     background-size: 28px 28px;
     width: 28px;
     height: 28px;
     display: block;
     margin-right: 12px;
 }
 
 .welcomeControl b {
     margin-left: 4px;
 }
 
 .suggestionsHeader {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: center;
     justify-content: flex-start;
     align-content: center;
     gap: 10px;
     margin-top: 25px;
     margin-bottom: 15px;
 }
 
 .suggestionsHeader svg {
     width: 35px;
     height: auto;
     display: block;
 }
 
 .suggestionsHeader h6 {
     font-family: 'WorkSans-Regular';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.5;
     color: #1C1C1C;
     margin: 0;
 }
 
 .suggestionsBody ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }
 
 .suggestionsBody ul li a {
     display: flex;
     align-items: center;
     justify-content: space-between;
     align-content: center;
     flex-wrap: nowrap;
     flex-direction: row;
     border: 1px solid #e3e4e6;
     margin: 4px 0px;
     border-radius: 8px;
     padding: 10px;
     gap: 15px;
     text-decoration: none;
     transition: all 0.5s;
 }
 
 .suggestionsBody ul li a:hover {
     border: 1px solid #1C1C1C;
 }
 
 .suggestionsBody ul li a img {
     width: 45px;
     height: auto;
     display: block;
 }
 
 .suggestionsBody ul li a p {
     font-family: 'WorkSans-Regular';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 100%;
     color: #1C1C1C;
     margin: 0;
 }
 
 .suggestionsBody ul li a strong {
     font-family: 'WorkSans-Bold';
     font-style: normal;
     font-weight: 700;
     font-size: 35px;
     color: #1C1C1C;
     transition: all 0.5s;
 }
 
 .suggestionsBody ul li a:hover strong {
     color: #5DFF49;
 }
 
 .suggestionsBody ul li a span {
     font-family: 'WorkSans-Regular';
     font-style: normal;
     font-weight: 400;
     font-size: 13px;
     line-height: 100%;
     color: #9C9C9C;
     display: block;
     min-width: 20%;
     text-decoration: underline;
     transition: all 0.5s;
 }
 
 .suggestionsBody ul li a:hover span {
     font-family: 'WorkSans-Bold';
     font-style: normal;
     font-weight: 700;
     color: #1C1C1C;
 }
 
 .suggestionsSeeAll {
     background: #1C1C1C;
     border-radius: 5px;
     font-family: 'WorkSans-Regular';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 100%;
     text-align: center;
     color: #FFFFFF;
     text-decoration: none;
     display: block;
     padding: 15px;
     margin-top: 10px;
     margin-bottom: 30px;
     transition: all 0.5s;
 }
 
 .suggestionsSeeAll:hover {
     opacity: 0.8;
 }
 
 .skuFormatDesc {
     font-family: WorkSans-Regular;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.5;
     color: #000;
 }
 
 @media (max-width: 767px) {
     .suggestionsHeader {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         align-items: flex-start;
         justify-content: flex-start;
         align-content: center;
         gap: 10px;
         margin-top: 25px;
         margin-bottom: 15px;
     }
 }
 
 .copiarClipboard textarea,
 .copiadoClipboard textarea {
     display: none;
 }
 
 .copiarClipboard button,
 .copiadoClipboard button {
     transition: all 0.5s;
 }
 
 .copiarClipboard button:hover,
 .copiadoClipboard button:hover {
     opacity: 0.7;
 }
 
 .copiarClipboard button {
     display: block;
     margin: 0 auto;
     min-width: 50%;
     background: #000000;
     border: 1px solid #000000;
     border-radius: 5px;
     color: #fff;
     cursor: copy;
     padding: 5px 10px;
     font-family: 'WorkSans-Bold';
     font-style: normal;
     font-weight: 700;
     display: flex;
     align-items: center;
     gap: 10px;
 }
 
 .copiarClipboard button::after {
     content: '';
     font-size: 0;
     background-image: url("data:image/svg+xml,%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.66659 0.666656H1.66659C0.933252 0.666656 0.333252 1.26666 0.333252 1.99999V11.3333H1.66659V1.99999H9.66659V0.666656ZM11.6666 3.33332H4.33325C3.59992 3.33332 2.99992 3.93332 2.99992 4.66666V14C2.99992 14.7333 3.59992 15.3333 4.33325 15.3333H11.6666C12.3999 15.3333 12.9999 14.7333 12.9999 14V4.66666C12.9999 3.93332 12.3999 3.33332 11.6666 3.33332ZM11.6666 14H4.33325V4.66666H11.6666V14Z' fill='white'/%3E%3C/svg%3E%0A");
     background-repeat: no-repeat no-repeat;
     background-position: center center;
     background-size: 15px auto;
     width: 15px;
     height: 20px;
     display: inline-block;
 }
 
 .copiadoClipboard button {
     display: block;
     margin: 0 auto;
     min-width: 50%;
     background: #5DFF49;
     border: 1px solid #5DFF49;
     border-radius: 5px;
     color: #000;
     cursor: not-allowed;
     padding: 5px 10px;
     font-family: 'WorkSans-Bold';
     font-style: normal;
     font-weight: 700;
     pointer-events: none;
 }
 
 .copiadoClipboard button::after {
     display: none;
 }
 
 .progressiveBar_popup {
     bottom: 0;
     z-index: 2;
     transition: all 0.5s;
     margin: 0px 25px;
 }
 
 .progressiveBar_popup.progressiveBar_popup__closed .progressiveBar_popup__header h5 svg {
     -webkit-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg)
 }
 
 .progressiveBar_popup.progressiveBar_popup__closed .progressiveBar_popup__body {
     height: 0;
     padding: 0px
 }
 
 .progressiveBar_popup .progressiveBar_popup__header {
     background: #000000 0% 0% no-repeat padding-box;
     -webkit-border-radius: 10px;
     border-radius: 10px;
     padding: 18px 28px;
     cursor: pointer
 }
 
 .progressiveBar_popup .progressiveBar_popup__header h5 {
     text-align: left;
     font-size: 14px;
     line-height: 17px;
     letter-spacing: 0px;
     color: #FFFFFF;
     margin: 0px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     gap: 10px
 }
 
 .progressiveBar_popup .progressiveBar_popup__header h5 svg {
     -webkit-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
     transform: rotate(180deg)
 }
 
 .progressiveBar_popup .progressiveBar_popup__body h6 {
     text-align: left;
     font-weight: 300;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 0px;
     color: #000000;
     margin-bottom: 18px
 }
 
 .progressiveBar_popup .progressiveBar_popup__body h6 b {
     font-weight: bold
 }
 
 .progressiveBar_popup .progressiveBar_popup__body p {
     text-align: left;
     font-weight: 300;
     font-size: 14px;
     line-height: 22px;
     letter-spacing: 0px
 }
 
 .progressiveBar_popup .progressiveBar_popup__body p b {
     font-weight: bold
 }
 
 .progressiveBar_popup .progressiveBar_popup__body .progressiveBar_popup__bar div {
     background: #000000 0% 0% no-repeat padding-box;
     -webkit-border-radius: 10px;
     border-radius: 10px;
     opacity: 1;
     padding: 8px 9px;
     margin-bottom: 10px
 }
 
 .progressiveBar_popup .progressiveBar_popup__body .progressiveBar_popup__bar div p {
     margin: 0;
     font-size: 9px;
     line-height: 22px;
     letter-spacing: 0px;
     color: #FFFFFF;
     font-weight: bold;
     display: flex;
     align-items: center;
     gap: 5px;
     margin-bottom: -10px;
 }
 
 .progressiveBar_popup .progressiveBar_popup__body .progressiveBar_popup__bar div .progressiveBar_popup__arrow {
     width: 0;
     height: 0;
     border-left: 8px solid transparent;
     border-right: 8px solid transparent;
     border-top: 8px solid #000;
     position: relative;
     -webkit-border-radius: 0;
     border-radius: 0;
     padding: 0;
     margin-bottom: 0;
     background: none;
     top: 15px
 }
 
 .progressiveBar_popup .progressiveBar_popup__body .progressiveBar_popup__bar ul {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-line-pack: center;
     align-content: center;
     -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     margin: 0;
     padding: 0;
 }
 
 .progressiveBar_popup .progressiveBar_popup__body .progressiveBar_popup__bar ul li.progressiveBar_popup__number_active span {
     background-color: #5dff49;
     font-size: 0;
     border: 1px solid #5dff49
 }
 
 .progressiveBar_popup .progressiveBar_popup__body .progressiveBar_popup__bar ul li.progressiveBar_popup__number_active span::after {
     content: '';
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.141' height='11.594' viewBox='0 0 15.141 11.594'%3E%3Cpath id='Icon_ionic-ios-checkmark' data-name='Icon ionic-ios-checkmark' d='M25.5,13.563l-1.237-1.273a.266.266,0,0,0-.2-.084h0a.255.255,0,0,0-.2.084l-8.578,8.641L12.164,17.81a.272.272,0,0,0-.394,0l-1.252,1.252a.28.28,0,0,0,0,.4L14.456,23.4a1.245,1.245,0,0,0,.823.4,1.3,1.3,0,0,0,.816-.387H16.1l9.4-9.45A.3.3,0,0,0,25.5,13.563Z' transform='translate(-10.434 -12.206)' fill='%23fff'/%3E%3C/svg%3E");
     background-repeat: no-repeat no-repeat;
     background-position: center center;
     -webkit-background-size: 15px auto;
     background-size: 15px auto;
     width: 15px;
     display: block;
     height: 15px
 }
 
 .progressiveBar_popup .progressiveBar_popup__body .progressiveBar_popup__bar ul span {
     background: #DDDDDD 0% 0% no-repeat padding-box;
     border: 1px solid #DDDDDD;
     opacity: 1;
     width: 42px;
     height: 42px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-border-radius: 100%;
     border-radius: 100%
 }
 
 .progressiveBar_popup .progressiveBar_popup__body .progressiveBar_popup__bar strong {
     width: 100%;
     display: block;
     height: 6px;
     background: #DDDDDD 0% 0% no-repeat padding-box;
     margin-top: -23px;
     margin-bottom: 23px
 }
 
 .progressiveBar_popup svg path,
 .progressiveBar_popup svg g {
     fill: transparent!important
 }
 
 li.progressiveBar_popup__number {
     list-style: none
 }
 
 .body-order-form .progressiveBar_popup {
     display: none!important;
 }
 
 .progressiveBar_popup__number_next span {
     border: 1px solid #000 !important
 }
 
 .formNews_title {
     font-family: WorkSans-Bold;
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 14px;
     color: #1c1c1c;
     margin: 0 0 20px;
 }
 
 .formNews_subtitle {
     font-family: WorkSans-Light;
     font-style: normal;
     font-weight: 300;
     font-size: 56px;
     line-height: 48px;
     color: #1c1c1c;
     margin: 10px 0 0;
 }
 
 .formNews_subtitle strong {
     font-family: WorkSans-Bold;
     font-weight: 700;
     display: block;
 }
 
 .formNews_grid {
     margin-top: 20px;
 }
 
 .formNews_row_input {
     display: flex;
     border-bottom: 3px solid #1c1c1c;
     margin-bottom: 10px;
     justify-content: space-between;
     padding: 10px 0px;
 }
 
 .formNews_row_input .defaultNews {
     font-family: WorkSans-Regular;
     background: none;
     border-radius: 0;
     font-weight: 400;
     font-size: 14px;
     line-height: 22px;
     color: #1c1c1c;
     mix-blend-mode: normal;
     margin: 0;
     padding: 0;
     width: 90%;
     border: none;
 }
 
 .formNews_row_input .defaultNews::placeholder {
     color: #1c1c1c;
 }
 
 .formNews_row_input .buttonNews {
     font-size: 0;
     color: transparent;
     background: transparent;
     border: none;
     background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 15.318l5.367-5.455a2.222 2.222 0 000-3.106l-5.35-5.439M0 8.318h18.5' stroke='%231C1C1C' stroke-width='2'/%3E%3C/svg%3E");
     background-repeat: no-repeat;
     background-position: 50%;
     background-size: 18px auto;
     width: 18px;
     height: 18px;
     top: 5px;
     position: relative;
 }
 
 .formNews_row_check {
     display: flex;
     gap: 10px;
 }
 
 .formNews_row_check label {
     font-family: WorkSans-Regular;
     font-weight: 400;
     font-size: 14px;
     line-height: 22px;
     color: #1c1c1c;
 }
 
 @media (max-width: 767px) {
     .formNews_subtitle {
         font-size: 45px;
     }
 }

 .sucessBoxNews{
    max-width: 400px;
    margin-top: 10px;
    background: #5DFF49;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-transform: lowercase;
    font-family: WorkSans-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
 }

 .errorBoxNews{
    max-width: 400px;
    margin-top: 10px;
    background: #DA3B35;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-transform: lowercase;
    font-family: WorkSans-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
 }

 /* MODAL NEWS APP */

 .overlayModalnews{
    background-color: #000000ad;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: none;
 }

 .coreModalnews{
    background-color: #fff;
    position: fixed;
    z-index: 1001;
    width: 340px;
    margin-left: calc(50% - 170px);
    top: 20%;
    border-radius: 8px;
    padding: 25px;
    max-width: 100%;
    display: none;
 }

 .headerModalnews{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    flex-wrap: nowrap;
 }

 .closeModalnews{
    width: 15px;
    display: block;
    float: right;
    margin-top: -25px;
 }

 .headerModalnews h5{
    text-align: center;
    margin: 0;
    width: 100%;
    font-family: WorkSans-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #000;
 }

 .headerModalnews h6{
    text-align: center;
    margin: 0;
    width: 100%;
    font-family: WorkSans-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 0;
 }

 .bodyModalnews label{
    font-size: 10px;
 }

 .politicaModalnews{
    display: block;
    text-align: center;
    margin-top: 15px;
    font-family: WorkSans-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #000;
    text-decoration: underline;
 }