.paginationDotsContainer--sliderMenu-blackFriday {
  top: 70px;
}

.paginationDot--sliderMenu-blackFriday {
  background: #000;
}

.paginationDot--sliderMenu-blackFriday--isActive {
  border: 2px solid #000;
  background: transparent;
}

.sliderTrack--sliderMenu-blackFriday {
  height: 60px;
}

.slideChildrenContainer--sliderMenu-blackFriday {
  border-right: 1px solid #fff;
}

.slide--sliderMenu-blackFriday[data-index="4"]
  :global(
    .vtex-slider-layout-0-x-slideChildrenContainer--sliderMenu-blackFriday
  ) {
  border-right: none;
}

.slideChildrenContainer--sliderMenu-blackFriday,
.slide--sliderMenu-blackFriday {
  height: 100%;
}

.sliderTrack--beneficios-cashback-slider {
  gap: 40px;
}

/* Pré black friday */
.sliderTrack--sliderBeneficios-blackFriday {
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .sliderTrack--sliderBeneficios-blackFriday {
    justify-content: unset;
  }

  .paginationDotsContainer--sliderBeneficios-blackFriday {
    bottom: -45px;
    align-items: center;
  }

  .paginationDot--sliderBeneficios-blackFriday {
    width: 7px !important;
    height: 7px !important;
    background-color: #000;
  }

  .paginationDot--sliderBeneficios-blackFriday--isActive {
    border: 2px solid #000;
    background: transparent;
    transform: unset;
    rotate: 32deg;

    width: 8.44px !important;
    height: 20.54px !important;
    padding: 0;
    margin-top: -3px;
  }
}