.stackItem--prodsum-category-new-shelf--product-info-new-shelf {
  width: 100%;
  background-color: #FFFFFF;
  border-top: 1px solid #B5B5B5;
  bottom: -100%;
  top: unset;
  transition: all .4s ease-in-out;
}

:global(.vtex-product-summary-2-x-element--product__summary--new-shelf):hover
  .stackItem--prodsum-category-new-shelf--product-info-new-shelf {
  bottom: 0;
}

@media screen and (max-width: 990px) {
  .stackItem--prodsum-category-new-shelf--product-info-new-shelf {
    display: none !important;
  }
}

