.heading--natal-25-title, .paragraph--natal-25-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 24px;
  color: #1C1C1C;
  font-family: 'WorkSans-Regular', sans-serif;
  margin: 0;
}

.strong--natal-25-title {
  font-family: 'WorkSans-Bold', sans-serif;
  font-weight: 700;
}

.container--natal-buy-by-age-title {
  text-align: center;
  justify-content: center;
  margin-bottom: 24px;
}

@media screen and (max-width: 990px) {
  .heading--natal-25-title, .paragraph--natal-25-title {
    font-size: 24px;
  }

  .container--natal-buy-by-age-title {
    margin-bottom: 16px;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .container--natal-buy-by-brands-title {
    margin-right: 122px;
  }
}