.element--product__summary--new-shelf {
  box-shadow: 0px 4px 4px 0px #0000001A;
  border: 1px solid #B5B5B5;

  > :global(.vtex-flex-layout-0-x-flexCol--product-info-new-shelf) {
    display: none;
  }
}

.element--product__summary--new-shelf:hover {
  .image--shelf__image-category-new-shelf {
    height: 60% !important;
  }
}

.imageContainer--shelf__image-category-new-shelf {
  display: flex;
  justify-content: center;
}

.image--shelf__image-category-new-shelf {
  max-width: 100%;
  height: 100% !important;
  /* object-fit: cover !important; */
  /* margin: auto 0; */
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 990px) {
  .imageContainer--shelf__image-category-new-shelf {
    background-color: #D9D9D9;
  }

  .element--product__summary--new-shelf {
    > :global(.vtex-flex-layout-0-x-flexCol--product-info-new-shelf) {
      display: flex;
    }
  }
}