.flexRow--panda-search__breadcrumb :global(.vtex-breadcrumb-1-x-container) {
  max-width: 1300px;
}

.flexRow--panda-search__suggestions,
.flexRow--panda-search__main {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.flexRowContent--panda-search__suggestions,
.flexRowContent--panda-search__main {
  max-width: 1300px;
}

.flexRowContent--panda-search__main {
  >div {
    width: 100% !important;
  }
}

.flexRow--bannerTop-full {
  /* margin-top: -1rem;
  margin-left: -0.25rem;
  margin-right: -0.25rem; */

  position: relative;
  width: 100vw;
  left: -16px;
}

.flexCol--summary-pix-prices-col {
  align-items: flex-start;
  margin: 4px 0 16px;

  :global(.vtex-product-price-1-x-listPriceValue) {
    color: #7D8187;
  }
}

@media (max-width: 767px) {
  .flexRow--bannerTop-full {
    /* margin-top: 0rem;
    margin-left: -15px;
    margin-right: -15px; */
  }

  .flexRow--bannerTop-full-sale {
    /* margin-bottom: -61px; */
  }


  .flexCol--summary-pix-prices-col {
    :global(.vtex-product-price-1-x-listPriceValue) {
      font-size: 14px;
    }
  }
}
