.pixPriceContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 19px;
  max-width: 82%;
}

.pixPriceValue {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin: 0;
  font-weight: 700;
  font-family: Nunito-Bold, sans-serif;
}

.pixPriceOldValue {
  font-size: 18px;
  color: #7D8187;
  text-decoration: line-through;
  font-weight: 400;
  margin: 0;
  font-family: Nunito-Regular, sans-serif;

  /* display: none; */
}

.pixPriceDiscount {
  display: flex;
  padding: 4px 8px;
  background-color: #D8F7D4;
  border-radius: 4px;
  margin-left: auto;

  font-size: 14px;
  line-height: 160%;
  color: #1A7415;

  font-family: Nunito-Bold, sans-serif;
}

.summaryPixPrice {
  margin: 0;
  text-align: start;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  font-family: 'RobotoCondensed-Bold';
}

.summaryPixPriceDiscount {
  display: none;
}

.summaryPixPriceOldValue {
  color: #7D8187;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
  margin: 0;
  text-align: start;
  font-family: 'Roboto-Condensed';
}

.summaryPixPriceContainer {
  display: flex;
  gap: 4px 8px;
  align-items: center;
  flex-wrap: wrap-reverse;

  .summaryPixPriceOldValue {
    font-size: 16px;
    color: #6A7282;
  }
}

.summaryPixPriceContainerSimple {
  flex-direction: row;
  align-items: center;
  gap: 8px;

  .summaryPixPriceOldValue {
    margin: 0;
  }
}

@media screen and (max-width: 1400px) {
  .pixPriceContainer {
    max-width: 92%;
  }
}
@media screen and (max-width: 1250px) {
  .pixPriceContainer {
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .pixPriceContainer {
    max-width: unset;
  }

  .pixPriceValue {
    font-size: 18px;
  }

  .pixPriceOldValue {
    font-size: 14px;
  }

  .summaryPixPrice {
    font-size: 16px;
    span {
      font-size: 14px;
    }
  }
}
