
.characterShelfItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 165px;
  height: 165px;
  border-radius: 9999px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;
  transition: width .15s ease;
  position: relative;

  > img {
    width: 80px;
    height: auto;
  }

  .characterShelfInfo {
    visibility: hidden;
    opacity: 0;
    width: 0;

    display: flex;
    flex-direction: column;

    white-space: nowrap;

    p {
      font-family: WorkSans-Bold, system-ui, sans-serif;
      font-display: swap;
      font-weight: 700;
      font-size: 1.125rem;
      margin: 0;
    }

    a {
      color: #000;
      font-size: 1.125rem;
    }
  }

  &:hover {
    border-color: #1C1C1C;
    width: 340px;
    gap: 30px;

    .characterShelfInfo {
      transition: all .2s ease-in;
      visibility: visible;
      opacity: 1;
      width: fit-content;
    }
  }

  &:first-child:hover {
    transform: translateX(85px);
    margin-right: 85px;
  }

  &:last-child:hover {
    transform: translateX(-85px);
    margin-left: 85px;
  }
}


@media screen and (max-width: 770px) {
.characterShelfItem {
  width: 110px;
  height: 110px;
  flex-shrink: 0;

  > img {
    width: 48px;
  }

  .characterShelfInfo {
    align-items: center;
  }

  /* retira o comportamento de hover do desktop */
  &:hover {
    width: 110px;
  }

  &:not(.characterShelfItemOpen):hover {
    border-color: transparent;

    .characterShelfInfo {
      display: none;
    }

    &:first-child:hover {
      transform: translateX(0);
      margin-right: 0;
    }

    &:last-child:hover {
      transform: translateX(0);
      margin-left: 0;
    }
  }
}

.characterShelfItemOpen {
  border-color: #1C1C1C;
  width: 230px;
  gap: 12px;

  .characterShelfInfo {
    transition: all .2s ease-in;
    visibility: visible;
    opacity: 1;
    width: fit-content;
  }

  &:first-child {
    transform: translateX(55px);
    margin-right: 55px;
  }

  &:last-child {
    transform: translateX(-55px);
    margin-left: 55px;
  }

  &:hover {
    width: 230px;
    gap: 12px;

    &:first-child {
      transform: translateX(55px);
      margin-right: 55px;
    }

    &:last-child {
      transform: translateX(-55px);
      margin-left: 55px;
    }
  }
}
}
