.imageElement--image-lojas-crm,
.imageElement--bannerPrincipal-crm {
    width: 100%;
    height: auto;
}

.imageElement--image-stepDownload-crm-phone {
    width: 155px !important;
    height: 314px;
    padding-bottom: 25px;
}

.imageElement--image-stepDownload-crm-phone-05 {
    width: 155px !important;
    height: 314px;
    padding-bottom: 30px;
}

.imageElement--image-stepDownload-crm-01 {
    height: 365px;
    margin-bottom: 35px;
}

@media (max-width: 767px) {
    .imageElement--image-stepDownload-crm {
        display: none;
    }

    .imageElement--image-stepDownload-crm-01 {
        height: 225px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .imageElement--image-stepDownload-crm-phone{
        height: 210px;
        width: 109px !important;
        margin-top: -70px;
        padding: 0px;
    }

    .imageElement--image-stepDownload-crm-phone-05 {
        height: 210px;
        width: 109px !important;
        margin-top: -70px;
        padding: 0px;
    }
}