.product-identifier--productReference {
    font-family: 'Roboto-Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
    margin-top: 4px;
}

.product-identifier__label {
    text-transform: lowercase;
}