.stackContainer--prodsum-stack-shelf {
    mix-blend-mode: multiply;
}

.stackContainer--product {
    position: sticky;
    top: 65px;
}

.stackItem--product {
    position: relative;
}

.stackItem--product :global(.vtex-flex-layout-0-x-flexCol--tips-item-wrapper) {
    border-right: 2px solid #E8E8E8;
    padding: 0px 8px;
}

.stackItem--product :global(.vtex-store-link-0-x-childrenContainer--tips-item-link) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.stackContainer--product {
    margin-bottom: 30px;
}

.stackItem--product :global(.vtex-store-components-3-x-imageElement--tips-item-img) {
    width: auto;
    height: 20px;
}

.stackItem--product :global(.vtex-rich-text-0-x-paragraph--tips-item-text) {
    font-family: 'WorkSans-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    margin: 0px;
    color: #1C1C1C;
}

.stackItem--product :global(.vtex-flex-layout-0-x-flexRowContent--tips-home-row) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child :global(.vtex-flex-layout-0-x-flexCol--tips-item-wrapper) {
    border-right: none;
}

.stackItem--product :global(.vtex-rich-text-0-x-container--tips_home_text_mobile) {
    display: none;
}

.stackItem--product-summary--product-infos {
    min-width: 100%;
}

@media (max-width: 767px) {
    .stackItem--product :global(.vtex-rich-text-0-x-paragraph--tips-item-text) {
        font-family: 'WorkSans-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        margin: 0px;
        color: #1C1C1C;
    }
    .stackContainer--product {
        position: relative !important;
        top: -10px!important;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 0;
    }
}

.stackContainer--summary-mini {
    height: 250px;
    min-width: 100%;
    overflow: hidden;
    border: 1px solid #BDBDBD;
    border-radius: 15px;

    .stackItem--product-summary :global(.vtex-product-summary-2-x-image--product-summary-image) {
        height: 250px !important;
    }

    &:hover {
        .stackItem--summary-mini--product-infos {
            transform: translateY(0);
        }

        :global(.vtex-product-summary-2-x-image--product-summary-image) {
            height: 150px !important;
            transition: all .3s;
        }
    }
}

.stackItem--summary-mini--product-infos {
    bottom: 0;
    top: unset;
    background-color: #F4F4F4CC;
    padding: 14px 10px 15px 14px;

    transform: translateY(100%);
    transition: transform .3s;


    :global(.vtex-product-summary-2-x-nameContainer), :global(.vtex-product-summary-2-x-productBrand) {
        padding: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        font-family: 'WorkSans-Medium';
        text-align: start;
    }
}

@media screen and (max-width: 990px) {

    .stackItem--summary-mini--product-infos {
        transform: translateY(0);
    }
    .stackContainer--summary-mini .stackItem--product-summary :global(.vtex-product-summary-2-x-image--product-summary-image) {
        height: 150px !important;
        transition: all .3s;
    }
}