.link--infocard-procura-wrapper,
.link--infocard-quem-wrapper {
  text-decoration: none;
}

.link--infocard-procura-wrapper:hover :global(.vtex-rich-text-0-x-paragraph--infocard-procura-wrapper) {
  text-decoration-line: underline;
}

.link--infocard-quem-wrapper:hover :global(.vtex-rich-text-0-x-paragraph--infocard-quem-wrapper) {
  text-decoration-line: underline;
}

.childrenContainer--tips-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.link--tips-item-link {
  text-decoration: none;
}

.link--main-slider-banner {
  font-family: "WorkSans-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-decoration-line: underline;
  color: #1c1c1c;
  display: block;
  text-align: center;
  margin-top: 25px;
}

.link--ace1-header {
  float: right;
  background-color: #f39f84;
  border-radius: 32px;
  padding: 10px 20px;
  text-decoration: none;
}

.label--ace1-header {
  color: #000;
  text-decoration: none;
}

.label--black-header-tag {
  font-family: "WorkSans-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: underline;
  font-weight: 700;
}

@media (max-width: 767px) {
  .label--black-header-tag {
    font-family: "WorkSans-Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #000000;
    text-decoration: underline;
    font-weight: 700;
  }
}

.link--botao-link-cashback {
  border-radius: 43px;
  background: #5dff49;
  width: 204px !important;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.label--botao-link-cashback {
  color: #000;
  text-align: center;
  font-family: "WorkSans-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.link--botao-link-cashback {
  border-radius: 43px;
  background: #5dff49;
  width: 204px !important;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.label--botao-link-cashback {
  color: #000;
  text-align: center;
  font-family: "WorkSans-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.link--menu-see-all {
  padding: 1rem 1.5rem 0;
  font-size: .75rem;
  color: #1c1c1c;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;

  &::before {
    content: 'ver ';
    font-weight: 400;
    margin-right: 4px;
  }

  &::after {
    content: '';
    width: 6px;
    height: 10px;
    background-image: url('data:image/svg+xml,<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9L5 5L1 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    display: inline-block;
    margin-left: .625rem;
  }
}

.link--main-menu-banner-see-all {
  text-decoration: none;
  color: #1c1c1c;
  font-size: .75rem;
  font-weight: 700;
}

.link--menu-link{
  display: flex;
  align-items: center;
  
  &::after {
    content: '';
    width: 6px;
    height: 10px;
    background-image: url('data:image/svg+xml,<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9L5 5L1 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    display: inline-block;
    margin-left: .625rem;
  }
}

.link--main-menu-banner-link {
  text-decoration: none;
  color: #1c1c1c;
  font-size: .75rem;
}

.link--menu-link--acessorios {
  width: 100%;
  border-top: 1px solid #f2f2f2;
  padding-top: 1rem;
  margin-top: 2rem;
}

.link--menu-see-all-mobile {
  text-decoration: none;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 0;
  padding-left: 30px;

  border-top: 1px solid #CBCBCB;

  &::after {
    content: '';
    width: 6px;
    height: 10px;
    background-image: url('data:image/svg+xml,<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9L5 5L1 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    display: inline-block;
    margin-left: .625rem;
  }

  &::before {
    content: 'ver ';
    font-weight: 400;
  }
}