.currencyContainer--summary {
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #1C1C1C;
}

.spotPrice--product__spot-price-pdp,
.spotPrice--product__spot-price-search {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.4px;
    text-transform: lowercase;
    color: #3F3F40;
    display: flex;
    align-items: flex-end;
    gap: 3px;
}

.spotPrice--product__spot-price-pdp{
    font-weight: 700;
    flex-direction: column;
    align-items: flex-start;
}

.spotPriceValue--product__spot-price-pdp,
.spotPriceValue--product__spot-price-search {
    font-family: 'Roboto-Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    color: #1C1C1C;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .spotPrice--product__spot-price-search {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
       
    }
    .spotPriceValue--product__spot-price-search {
   
        font-size: 18px;
        margin-bottom: -2px;

    }
    .currencyContainer--summary {
        font-weight: 300;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: #1C1C1C;
    }

    .spotPrice--product__spot-price-pdp{
        flex-direction: row;
        align-items: flex-end;
    }
}

.installments--Panda-summary-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #1C1C1C;
}

@media (max-width: 767px) {
    .installments--Panda-summary-price {
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: #1C1C1C;
    }
}

.currencyContainer--Panda-summary-price {
    font-weight: 700;
}

.sellingPrice--summary-search {
    font-family: 'Roboto-Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #1C1C1C;
}

.savings--product-discount-tag-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 6px;
    width: 65px;
    height: 20px;
    background: #1C1C1C;
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.listPriceValue {
    font-family: 'Roboto-Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #000000;
}

.sellingPrice {
    font-family: 'Roboto-Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    color: #1C1C1C;
}

@media (max-width: 767px) {
    .savings--product-discount-tag-search {
        font-size: 10px;
        width: 55px;
    }
}

.savings--product__price-savings-pdp {
    display: block;
    width: 64px !important;
    height: 20px;
    background: #5DFF49;
    color: #000000;
    padding: 4px 15px 3px 10px;
    font-weight: 700;
    font-family: 'WorkSans-Bold';
}

.savingsPercentage--product__price-savings-pdp {
    margin-right: 5px;
}

.savings--product__price-savings-pdp-pix {
    color: #1A7415;
    font-size: 14px;
    font-weight: 700;
}

.currencyContainer--summary-list {
    font-size: 16px;
    font-weight: 400;
    font-family: 'WorkSans-Regular';
}

.sellingPriceValue--summary-list .currencyContainer--summary-list {
    font-weight: 500;
    font-family: 'WorkSans-Medium';
}

.sellingPrice--summary-list {
    margin-top: -8px;
}

.installments--summary-list {
    font-size: 14px;
    font-weight: 400;
    font-family: 'WorkSans-Regular';
    text-align: start;
    display: block;

    .currencyContainer--summary-list {
        font-size: 14px;
    }
}

.sellingPrice--summary-mini {
    font-size: 14px;
    line-height: 15.12px;
    font-weight: 600;
    font-family: 'WorkSans-Medium';
    display: flex;
}

.installments--summary-mini {
    font-size: 14px;
    line-height: 15.12px;
    color: #000;
    font-weight: 400;
    text-align: start;
    display: block;
}

.installments--pdp_pix {
    font-size: 16px !important;
    color: #000 !important;
    text-align: start !important;
}

.installmentsTotalValue--pdp_pix .currencyContainer--pdp_pix {
    font-family: 'RobotoCondensed-Bold';
    font-weight: 700;
}

.currencyContainer--pdp_pix {
    font-size: 16px !important;
}
