.paginationDotsContainer--home__slider {
  bottom: 20px;
}

.paginationDot--carousel {
  background: #ffffff;
}

.paginationDot--home__slider {
  background: #fff;
  width: 5.5px !important;
  height: 5.5px !important;
}

.paginationDot--isActive {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 50px;
  transform: matrix(0.86, 0.49, -0.53, 0.86, 0, 0);
  height: 20px !important;
  padding: 2.5px;
  margin-top: -6px;
}

.imageElement--home__slider {
  max-height: 100% !important;
}

.imageElementLink--home__slider {
  display: block;
  width: 100%;
}

.imageElementLink--home-banner-slider {
  display: block;
  width: 100%;
}

.sliderArrows--home__slider {
  color: white;
}

.sliderArrows--carousel-procura {
  top: -55px;
}

.sliderLeftArrow--carousel-procura {
  right: 45px;
  left: unset;
}

.sliderLayoutContainer--shelf {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.paginationDotsContainer--shelf {
  bottom: -30px;
}

.paginationDotsContainer--carousel-exclusivos {
  bottom: 30px;
}

.paginationDotsContainer--list-brands-home {
  bottom: -42px;
}

.paginationDot--carousel-exclusivos,
.paginationDot--shelf {
  background: #1c1c1c;
}

.paginationDot--shelf--isActive {
  border: 2px solid #1c1c1c;
  background: #fff;
}

.paginationDot--carousel-exclusivos--isActive {
  border: 2px solid #1c1c1c;
  background: transparent;
}

.slide--carousel-exclusivos {
  width: 100% !important;
}

.slideChildrenContainer--carousel-exclusivos {
  display: block;
}

.slideChildrenContainer--list-brands-home {
  display: flex;
  justify-content: center;
}

.slide--slider-menu-desk {
  padding: 0px 25px;
}


.sliderTrack--home-week-featured {
  gap: 0;
}

@media (max-width: 767px) {
  .slide--tips_home_slider--firstVisible::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 2px;
    height: 25%;
    background: #c4c4c4;
    transform: translateY(-50%);
  }

  .slide--tips_home_slider--lastVisible::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 2px;
    height: 25%;
    background: #c4c4c4;
    transform: translateY(-50%);
  }
  .sliderLayoutContainer--tips_home_slider {
    background: #f2f2f2;
    padding: 7px;
  }
  .slideChildrenContainer--carousel-procura {
    display: flex;
    align-items: flex-start;
    padding: 0px 4px;
  }
  .paginationDotsContainer--carousel-exclusivos {
    bottom: 10px;
  }
  .paginationDotsContainer--list-brands-home {
    bottom: 0px;
  }
  .slideChildrenContainer--carousel-exclusivos {
    margin-bottom: 30px;
  }
  .caretIcon--tips_home_slider {
    width: 7px;
    height: 11px;
  }
}

.sliderLayoutContainer--quemsomos__slider {
  display: flex;
  flex-direction: row-reverse;
}

.paginationDotsContainer--quemsomos__slider {
  display: flex;
  justify-content: flex-start;
  transform: rotate(90deg);
  position: relative;
  left: 19%;
}

.paginationDotsContainer--quemsomos__slider :global(.vtex-slider-layout-0-x-paginationDot--quemsomos__slider) {
  background: #1c1c1c;
}

.paginationDotsContainer--quemsomos__slider :global(.vtex-slider-layout-0-x-paginationDot--isActive) {
  border: 2px solid #1c1c1c;
  background: #fff;
}

.imageElementLink--faixaRotativa_header {
  display: flex;
  width: 100%;
}

.imageElement--faixaRotativa_header {
  width: 100%;
  object-fit: cover;
}

.sliderLeftArrow--faixaRotativa_header,
.sliderRightArrow--faixaRotativa_header {
  display: none;
}

@media (max-width: 767px) {
  .sliderLayoutContainer--quemsomos__slider {
    display: flex;
    flex-direction: column;
  }
  .paginationDotsContainer--quemsomos__slider {
    display: flex;
    justify-content: center;
    transform: unset;
    position: absolute;
    left: 0;
    bottom: 10px;
  }
  .sliderLayoutContainer--home__slider {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.sliderLeftArrow--slider-passos-cashback {
  left: -1.25rem;
}

.sliderRightArrow--slider-passos-cashback {
  right: -1.25rem;
}

.paginationDotsContainer--slider-passos-cashback {
  bottom: -14%;
}

@media (max-width: 361px) {
  .sliderLeftArrow--slider-passos-cashback {
    left: -1.1rem;
    width: 30px;
  }

  .sliderRightArrow--slider-passos-cashback {
    right: -1.1rem;
    width: 30px;
  }
}

@media (max-width: 767px) {
  .paginationDotsContainer--slider-passos-cashback {
    bottom: -10%;
  }
}

.paginationDot--slider-passos-cashback,
.paginationDot--beneficios-cashback-slider {
  background-color: #000000;
}
.paginationDot--beneficios-cashback-slider--isActive,
.paginationDot--slider-passos-cashback--isActive {
  border-color: #000000;
  background-color: #ffffff;
}

.paginationDotsContainer--beneficios-cashback-slider {
  bottom: -35px;
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 768px) {
  .slide--slider-passos-cashback {
    width: 18% !important;
  }
}
.caretIcon--slider-passos-cashback {
  color: #000000;
}


@media screen and (max-width: 450px) {
  .caretIcon--slider-passos-cashback {
    width: 20px;
    height: 20px;
  }

}
/*new home*/
.slide--best-sellers-home :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  right: 17px !important;
  top: 3px !important;
}

.paginationDotsContainer--best-sellers-home {
  bottom: -32px;
}

.paginationDotsContainer {
  align-items: center;
}

.paginationDot--best-sellers-home,
.paginationDot--list-brands-home {
  background-color: #1C1C1C;
  width: 7px !important;
  height: 7px !important;
}

.paginationDot--best-sellers-home--isActive,
.paginationDot--list-brands-home--isActive {
  background-color: transparent;
  border: 2px solid #1C1C1C;
  width: 5.5px !important;
  height: 15.5px !important;
  margin-top: 1px;
}

.sliderTrackContainer--home-genders-shelf {
  background-color: #F4F4F4;
  border-radius: 15px;
}

.sliderTrack--home-genders-cards {
  gap: 21px;
}

.sliderArrows--home-week-featured  {
  > svg {
    pointer-events: none;
  }
}

.sliderArrows--slider-bottom {
  display: none;
}

.sliderLeftArrow--slider-top {
  left: -157px;
}

.sliderRightArrow--slider-top {
  right: unset;
  left: -100px;
}

.sliderArrows--slider-top {
  bottom: 67px;

  > svg {
    width: 15px;
    height: 15px;
  }
}

.slide--tips-home-row:not(:last-child) {
  border-right: 1px solid #E6E7E8;
}

.slideChildrenContainer--sports-shelf-slider {
  gap: 22px;
}

.sliderTrackContainer--best-sellers-home  {
  margin: 0 40px;
}

.sliderTrack--best-sellers-home {
  gap: 15px;
}

@media screen and (max-width: 990px) {
  .sliderTrack--best-sellers-home {
    gap: 0;
  }

  .slide--tips-home-row:not(:last-child) {
    border-right: none;
  }

  .sliderTrackContainer--best-sellers-home  {
    margin-left: 0;
    margin-right: 0;
  }

  .sliderArrows--tips-home-row {
    > svg {
      width: 12px;
      height: 16px;
      
      use {
        color: #000;
      }
    }
  }

  .sliderTrack--home-genders-cards {
    gap: 0;
  }

  .paginationDotsContainer--list-brands-home {
    bottom: 0px;
  }

  .sliderArrows--home-genders-cards {
    top: -56px;

    > svg {
      width: 15px;
      height: 15px;
      color: #000;
    }
  }

  .sliderRightArrow--home-genders-cards {
    right: 18px;
  }

  .sliderLeftArrow--home-genders-cards {
    left: 75vw;
  }
  
  .sliderLeftArrow--slider-top {
    left: 71vw;
  }
  
  .sliderRightArrow--slider-top {
    left: unset;
    right: 0;
  }
  
  .sliderArrows--slider-top {
    bottom: unset;
    top: -38px;
  
    > svg {
      width: 15px;
      height: 15px;
      color: #000;

    }
  }

  .sliderTrack--home-week-featured {
    gap: 12px;
  }

  .paginationDotsContainer--baixe-app-mobile {
    bottom: -30px;
  }

  .paginationDot--baixe-app-mobile {
    background-color: #000;
  }

  .paginationDot--baixe-app-mobile--isActive {
    border-color: #000;
    background-color: transparent;
  }

  .sliderTrackContainer--list-brands-home {
    padding-bottom: 16px;
  }
}