:global(.vtex-pageHeader__container) {
    padding-left: 10px;
    padding-top: 0px;
}

:global(.vtex-pageHeader__container) :global(.vtex-pageHeader__title) {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 26px;
    color: #000000;
}

:global(.vtex-pageHeader-link__container) :global(.vtex-button) {
    font-family: 'RobotoCondensed-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-decoration-line: underline;
    color: #000000;
}

@media (max-width: 768px) {
     :global(.vtex-pageHeader__container) {
        padding: 24px 15px;
    }
     :global(.vtex-pageHeader__container) :global(.vtex-pageHeader__title) {
        font-size: 20px;
        line-height: 25px;
    }
     :global(.vtex-pageHeader__container) :global(.vtex-button) {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #353535;
        display: flex;
        align-items: center;
    }
     :global(.vtex-pageHeader__container) :global(.vtex-button)::before {
        content: '.';
        font-size: 20px;
        color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='15' viewBox='0 0 8 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 13.2812L1 7.1875L7 1.09375' stroke='%23353535' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat no-repeat;
        background-position: center center;
        background-size: 8px auto;
        display: block;
        width: 14px;
        margin-right: -5px;
    }
     :global(.vtex-pageHeader__container) :global(.vtex__icon-arrow-back) {
        display: none;
    }
}

:global(.vtex-button),
:global(.vtex-menu-2-x-styledLink),
:global(.vtex-store-link-0-x-link) {
    transition: all 0.5s;
}

:global(.vtex-button):hover,
:global(.vtex-menu-2-x-styledLink):hover,
:global(.vtex-store-link-0-x-link):hover {
    opacity: 0.8;
}

.store-custom-black-friday-dev {
    background-color: red;
}