.minicartIconContainer--Panda-cart {
    background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.800049 0.744629C0.523906 0.744629 0.300049 0.968487 0.300049 1.24463C0.300049 1.52077 0.523906 1.74463 0.800049 1.74463V0.744629ZM2.51945 1.24463L3.00206 1.11392C2.94304 0.89597 2.74525 0.744629 2.51945 0.744629V1.24463ZM5.31348 11.561L4.83087 11.6918C4.896 11.9323 5.12826 12.0881 5.3755 12.0572L5.31348 11.561ZM13.9105 10.4864L13.9725 10.9826C14.1849 10.956 14.3568 10.7973 14.4001 10.5877L13.9105 10.4864ZM15.2 4.25358L15.6897 4.35489C15.7201 4.20763 15.6827 4.05448 15.5878 3.93787C15.4928 3.82127 15.3504 3.75358 15.2 3.75358V4.25358ZM3.33438 4.25358L2.85176 4.38429L3.33438 4.25358ZM0.800049 1.74463H2.51945V0.744629H0.800049V1.74463ZM5.3755 12.0572L13.9725 10.9826L13.8485 9.99028L5.25146 11.0649L5.3755 12.0572ZM14.4001 10.5877L15.6897 4.35489L14.7104 4.15228L13.4209 10.3851L14.4001 10.5877ZM2.03684 1.37534L2.85176 4.38429L3.81699 4.12288L3.00206 1.11392L2.03684 1.37534ZM2.85176 4.38429L4.83087 11.6918L5.79609 11.4303L3.81699 4.12288L2.85176 4.38429ZM15.2 3.75358H3.33438V4.75358H15.2V3.75358ZM7.50005 14.3751C7.50005 14.7203 7.22023 15.0001 6.87505 15.0001V16.0001C7.77251 16.0001 8.50005 15.2725 8.50005 14.3751H7.50005ZM6.87505 15.0001C6.52987 15.0001 6.25005 14.7203 6.25005 14.3751H5.25005C5.25005 15.2725 5.97759 16.0001 6.87505 16.0001V15.0001ZM6.25005 14.3751C6.25005 14.0299 6.52987 13.7501 6.87505 13.7501V12.7501C5.97759 12.7501 5.25005 13.4776 5.25005 14.3751H6.25005ZM6.87505 13.7501C7.22023 13.7501 7.50005 14.0299 7.50005 14.3751H8.50005C8.50005 13.4776 7.77251 12.7501 6.87505 12.7501V13.7501ZM13.5 14.3751C13.5 14.7203 13.2202 15.0001 12.875 15.0001V16.0001C13.7725 16.0001 14.5 15.2725 14.5 14.3751H13.5ZM12.875 15.0001C12.5299 15.0001 12.25 14.7203 12.25 14.3751H11.25C11.25 15.2725 11.9776 16.0001 12.875 16.0001V15.0001ZM12.25 14.3751C12.25 14.0299 12.5299 13.7501 12.875 13.7501V12.7501C11.9776 12.7501 11.25 13.4776 11.25 14.3751H12.25ZM12.875 13.7501C13.2202 13.7501 13.5 14.0299 13.5 14.3751H14.5C14.5 13.4776 13.7725 12.7501 12.875 12.7501V13.7501Z" fill="black"/></svg>');
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: 22px auto;
    width: 28px;
    height: 28px;
}

.openIconContainer {
    padding: 0px;
}

.minicartIconContainer :global(.vtex-store-icons-0-x-cartIcon) {
    display: none;
}

.cartIcon {
    display: none;
}

.minicartQuantityBadge {
    font-family: 'WorkSans-Bold';
    background: #5DFF49;
    font-weight: 700;
    font-size: 12.8818px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #1C1C1C;
}

@media (max-width: 767px) {
    .openIconContainer--Panda-cart :global(.vtex-button__label) {
        padding-left: 0 !important;
        padding-right: 5px !important;
    }
}

/* Tablet */
@media (max-width: 990px) {
    .openIconContainer--Panda-cart :global(.vtex-button__label) {
        padding-left: 0 !important;
        padding-right: 5px !important;
    }
}