.productHighlightText--collection-highlight-tag-search,
.productHighlightText--collection-highlight-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 6px;
    width: 80px;
    height: 20px;
    background: #1C1C1C;
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-transform: lowercase;
    color: #FFFFFF;
    justify-content: center;
    
}
 

.productHighlightText--collection-highlight-tag {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .productHighlightText--collection-highlight-tag-search::before,
    .productHighlightText--collection-highlight-tag-search::after {
        font-size: 10px;
    }
    .productHighlightText--collection-highlight-tag-search {
        width: 70px;
    }
    .productHighlightText--collection-highlight-tag {
        margin-bottom: 10px;
    }
}