.minicartIconContainer--Panda-cart {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.1157 5.70643C24.8799 5.33873 24.557 5.03489 24.1757 4.82184C23.7944 4.60879 23.3664 4.49311 22.9296 4.48506H6.1845L5.58267 2.06888C5.43866 1.49487 5.10703 0.985431 4.64042 0.621442C4.1738 0.257452 3.59896 0.0597806 3.00717 0.0598145H1.7327C1.49798 0.0598145 1.27286 0.15306 1.10688 0.319039C0.940902 0.485018 0.847656 0.710134 0.847656 0.944863C0.847656 1.17959 0.940902 1.40471 1.10688 1.57069C1.27286 1.73667 1.49798 1.82991 1.7327 1.82991H3.00717C3.20935 1.82402 3.40744 1.88756 3.56848 2.00994C3.72951 2.13233 3.84377 2.30618 3.89222 2.50255L7.64483 17.5484C7.79269 18.1131 8.12252 18.6133 8.58328 18.9717C9.04404 19.33 9.61006 19.5266 10.1938 19.5309H20.3187C20.5535 19.5309 20.7786 19.4376 20.9446 19.2717C21.1105 19.1057 21.2038 18.8806 21.2038 18.6458C21.2038 18.4111 21.1105 18.186 20.9446 18.02C20.7786 17.854 20.5535 17.7608 20.3187 17.7608H10.1938C9.99159 17.7667 9.7935 17.7031 9.63247 17.5808C9.47143 17.4584 9.35718 17.2845 9.30872 17.0882L9.06091 15.9907H20.0621C20.5733 15.9921 21.0742 15.8459 21.5043 15.5695C21.9345 15.2932 22.2758 14.8986 22.4871 14.433L25.3016 8.23766C25.4844 7.83378 25.5631 7.39054 25.5307 6.9484C25.4982 6.50626 25.3555 6.07928 25.1157 5.70643ZM23.6908 7.47652L20.8675 13.6719C20.7977 13.8271 20.6845 13.959 20.5417 14.0516C20.3988 14.1442 20.2323 14.1937 20.0621 14.194H8.61838L6.62702 6.25516H22.9296C23.0772 6.25546 23.2224 6.29269 23.352 6.36345C23.4816 6.4342 23.5914 6.53624 23.6714 6.66027C23.7515 6.78431 23.7992 6.92639 23.8103 7.07359C23.8214 7.22079 23.7955 7.36843 23.735 7.50307L23.6908 7.47652ZM11.4682 21.7435C11.4682 22.0061 11.3904 22.2628 11.2445 22.4811C11.0986 22.6994 10.8913 22.8695 10.6487 22.97C10.4061 23.0705 10.1392 23.0968 9.88167 23.0456C9.62415 22.9943 9.3876 22.8679 9.20193 22.6822C9.01627 22.4966 8.88983 22.26 8.8386 22.0025C8.78738 21.745 8.81367 21.4781 8.91415 21.2355C9.01463 20.9929 9.18479 20.7855 9.40311 20.6397C9.62143 20.4938 9.8781 20.4159 10.1407 20.4159C10.4928 20.4159 10.8304 20.5558 11.0794 20.8048C11.3284 21.0537 11.4682 21.3914 11.4682 21.7435ZM20.3187 21.7435C20.3187 22.0061 20.2409 22.2628 20.095 22.4811C19.9491 22.6994 19.7418 22.8695 19.4992 22.97C19.2566 23.0705 18.9897 23.0968 18.7322 23.0456C18.4746 22.9943 18.2381 22.8679 18.0524 22.6822C17.8668 22.4966 17.7403 22.26 17.6891 22.0025C17.6379 21.745 17.6642 21.4781 17.7646 21.2355C17.8651 20.9929 18.0353 20.7855 18.2536 20.6397C18.4719 20.4938 18.7286 20.4159 18.9912 20.4159C19.3432 20.4159 19.6809 20.5558 19.9299 20.8048C20.1789 21.0537 20.3187 21.3914 20.3187 21.7435Z' fill='%231C1C1C'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: 100% auto;
    width: 28px;
    height: 28px;
}

.openIconContainer {
    padding: 0px;
}

.minicartIconContainer :global(.vtex-store-icons-0-x-cartIcon) {
    display: none;
}

.cartIcon {
    display: none;
}

.minicartQuantityBadge {
    font-family: 'WorkSans-Bold';
    background: #5DFF49;
    font-weight: 700;
    font-size: 12.8818px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #1C1C1C;
}

@media (max-width: 767px) {
    .openIconContainer--Panda-cart :global(.vtex-button__label) {
        padding-left: 0 !important;
        padding-right: 5px !important;
    }
}