:global(.vtex-pageHeader__container) {
    padding-left: 10px;
    padding-top: 0px;
}

:global(.vtex-pageHeader__container) :global(.vtex-pageHeader__title) {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 26px;
    color: #000000;
    text-transform: lowercase;
}

:global(.vtex-pageHeader__container) {
    [class*="c-on-base flex flex-wrap flex-row justify-between"] {
        flex-direction: column;
    }

    :global(.vtex-button) {
        max-width: fit-content;
        margin-top: 20px;
        border-radius: 999px;
        padding: 0 8px;
    }

    [class="newAddressButton"],
    :global(.vtex-my-cards-1-x-newCardButton) {
        text-decoration: none;
        position: absolute;
        bottom: 0;
    }
}

:global(.vtex-pageHeader-link__container) :global(.vtex-button) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;

    span {
        font-family: 'WorkSans-Regular';
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #000000;
    }
}

:global(.vtex-account__page) {
    position: relative;
    height: fit-content;
    padding-bottom: 32px;
}

@media (max-width: 768px) {
    :global(.vtex-account__page) {
        margin-bottom: 32px;
    }

    :global(.vtex-pageHeader__container) {
        padding: 24px 15px 0;

        [class="newAddressButton"],
        :global(.vtex-my-cards-1-x-newCardButton) {
            left: 50%;
            transform: translateX(-50%);
        }
    }
     :global(.vtex-pageHeader__container) :global(.vtex-pageHeader__title) {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 12px;
    }
     :global(.vtex-pageHeader__container) :global(.vtex-button) {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #353535;
        display: flex;
        align-items: center;
    }
     :global(.vtex-pageHeader-link__container) {
        > :global(.vtex-button)::before {
            content: '';
            background-image: url('data:image/svg+xml,<svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.31434 10.3728C6.68976 10.0085 6.69009 9.40612 6.31506 9.04142L3.41061 6.2169C3.00684 5.82425 3.00684 5.17575 3.41061 4.7831L6.31506 1.95859C6.69009 1.59388 6.68976 0.991455 6.31434 0.627162C5.95428 0.277779 5.38175 0.277779 5.0217 0.627161L0.739587 4.78234C0.334774 5.17515 0.334774 5.82485 0.739587 6.21766L5.0217 10.3728C5.38175 10.7222 5.95428 10.7222 6.31434 10.3728Z" fill="%231C1C1C"/></svg>');
            background-repeat: no-repeat no-repeat;
            background-position: center center;
            background-size: 8px auto;
            display: block;
            width: 12px;
            height: 12px;
            margin-right: -5px;
        }
     }
     :global(.vtex-pageHeader__container) :global(.vtex__icon-arrow-back) {
        display: none;
    }


    :global(.vtex-pageHeader__container) {
        :global(.vtex-button) {
            margin-top: 8px;
        }
    }
}

:global(.vtex-button),
:global(.vtex-menu-2-x-styledLink),
:global(.vtex-store-link-0-x-link) {
    transition: all 0.5s;
}

:global(.vtex-button):hover,
:global(.vtex-menu-2-x-styledLink):hover,
:global(.vtex-store-link-0-x-link):hover {
    opacity: 0.8;
}

.store-custom-black-friday-dev {
    background-color: red;
}