.productHighlightText--collection-highlight-tag-search,
.productHighlightText--collection-highlight-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 6px;
    width: 80px;
    height: 20px;
    background: #DA3B35;
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: center;
    font-size: 0;
}

.productHighlightText--collection-highlight-tag-search::before,
.productHighlightText--collection-highlight-tag::before {
    content: 'BLACK';
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
}

.productHighlightText--collection-highlight-tag-search::after,
.productHighlightText--collection-highlight-tag::after {
    content: 'FRIDAY';
    font-family: 'WorkSans-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
}

.productHighlightText--collection-highlight-tag {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .productHighlightText--collection-highlight-tag-search::before,
    .productHighlightText--collection-highlight-tag-search::after {
        font-size: 10px;
    }
    .productHighlightText--collection-highlight-tag-search {
        width: 70px;
    }
    .productHighlightText--collection-highlight-tag {
        margin-bottom: 10px;
    }
}