.flexRowContent--main-header-mobile {
  background-color: #fff !important;
  padding: 14px 20px !important;
}

.flexRowContent--main-header-mobile
  :global(.vtex-store-components-3-x-logoImage) {
  width: 100%;
  height: auto;
  max-width: 120px;
  margin-top: 10px;
}

.flexRowContent--shelf__price-and-savings {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.flexRowContent--shelf__actions :global(.vtex-button) {
  background: #5dff49;
  border-radius: 10px;
  padding: 4px 16px;
}

.flexRowContent--shelf__actions :global(.vtex-button__label) {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1c1c1c;
  padding: 0 !important;
  margin: 0;
}

.flexRowContent--shelf__actions :global(.vtex-button__label)::after {
  content: ".";
  font-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.685664 10.8728C0.310241 10.5085 0.309913 9.90612 0.684938 9.54142L3.58939 6.7169C3.99316 6.32425 3.99316 5.67575 3.58939 5.2831L0.684938 2.45859C0.309913 2.09388 0.310241 1.49146 0.685663 1.12716C1.04572 0.777779 1.61825 0.777779 1.9783 1.12716L6.26041 5.28234C6.66523 5.67515 6.66523 6.32485 6.26041 6.71766L1.9783 10.8728C1.61825 11.2222 1.04572 11.2222 0.685664 10.8728Z' fill='%231C1C1C'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-position: center center;
  background-size: 100% auto;
  display: inline-block;
  width: 9px;
  height: auto;
  color: transparent;
  margin-left: 8px;
}

@media (max-width: 767px) {
  .flexRowContent--shelf__actions :global(.vtex-button) {
    background: #5dff49;
    border: 2px solid #1c1c1c;
    border-radius: 10px;
    padding: 0px 8px;
    height: 32px;
    min-height: 34px;
  }
  .flexRowContent--shelf__actions :global(.vtex-button__label) {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #1c1c1c;
    padding: 0 !important;
    margin: 0;
  }
  .flexRowContent--shelf__actions :global(.vtex-button__label)::after {
    content: ".";
    font-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.685664 10.8728C0.310241 10.5085 0.309913 9.90612 0.684938 9.54142L3.58939 6.7169C3.99316 6.32425 3.99316 5.67575 3.58939 5.2831L0.684938 2.45859C0.309913 2.09388 0.310241 1.49146 0.685663 1.12716C1.04572 0.777779 1.61825 0.777779 1.9783 1.12716L6.26041 5.28234C6.66523 5.67515 6.66523 6.32485 6.26041 6.71766L1.9783 10.8728C1.61825 11.2222 1.04572 11.2222 0.685664 10.8728Z' fill='%231C1C1C'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-position: center center;
    background-size: 100% auto;
    display: inline-block;
    width: 7px;
    height: auto;
    color: transparent;
    margin-left: 5px;
  }
}

.flexRowContent--shelf__price {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.flexRow--header__tooltip {
  background: #5dff49;
  padding: 12px 0px;
}

.flexRow--header__main {
  background: #ffffff;
}

.flexRow--footer__menu {
  background: #1c1c1c;
  padding: 70px 0;
}
.rr-widget {
  background-color: red;
}
.flexRow--shelf,
.flexRow--brands-home-row {
  padding-top: 60px;
  padding-bottom: 90px;
}

@media (max-width: 767px) {
  .flexRow--shelf,
  .flexRow--brands-home-row {
    padding-top: 6px;
    padding-bottom: 15px;
  }
}

.flexRow--exclusivo-home-row,
.flexRow--procura-home-row,
.flexRow--quem-home-row {
  padding-top: 25px;
}

.flexRow--exclusivo-home-row {
  display: flex;
  justify-content: center;

  padding: 0;
}

.flexRowContent--exclusivo-home-row {
  max-width: 1300px;
}

.flexRowContent--header__main
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexRow--header-itens__menu
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: auto !important;
}

.flexRowContent--header-itens__menu {
  display: flex;
  gap: 0.5rem;
  margin-left: 0.5rem;
}

.flexRowContent--main-menu-department-block {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  gap: 0;
}

.flexRowContent--main-menu-department-block
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  padding: 0;
}

.flexCol--filterCol {
  min-width: 200px;
}

.flexRow--shelf__price-and-savings-search {
  display: flex;
  padding: 0px 8px;
}

.flexRowContent--shelf__price-and-savings-search {
  display: flex;
  justify-content: flex-start;
}

.flexRowContent--shelf__price-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  margin-bottom: 15px;
}

.flexRowContent--shelf__price-and-savings-search
  :global(.vtex-product-price-1-x-installments--Panda-summary-price),
.flexRowContent--shelf__price-and-savings-search
  :global(.vtex-product-price-1-x-currencyContainer--summary) {
  font-family: "Roboto-Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #1c1c1c;
  margin-bottom: 15px;
}

.flexCol--social-networks-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flexRowContent--panda-search__main-title {
  max-width: 1300px;
  margin: 0 auto;
}

.flexRowContent--panda-search__main-title--seo {
  padding-left: 5rem;
}

.flexRowContent--header__tooltip :global(.vtex-menu-2-x-styledLinkContainer) {
  padding: 0 10px;
  margin: 0;
}

.flexRowContent--header__tooltip :global(.vtex-menu-2-x-styledLinkContent) {
  font-family: "WorkSans-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}

@media (max-width: 767px) {
  .flexRowContent--header__tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.flexRow--footer_methods {
  padding-bottom: 50px;
  padding-top: 30px;
}

.flexRowContent--payment-methods-flags
  :global(.vtex-slider-layout-0-x-slideChildrenContainer) {
  display: flex;
  justify-content: flex-start;
}

.flexCol--payment-flags-wrapper {
  display: flex;
  justify-content: space-between;
}

.flexRowContent--footer_methods {
  display: flex;
  gap: 10%;
}

.flexRow--new-newsletter-wrapper {
  background-color: #f8f9f9;
}

.flexRowContent--new-newsletter-wrapper {
  padding: 48px 0;
  gap: 20px;
}

.flexRowContent--new-newsletter {
  gap: 8px;
}

.flexRowContent--new-newsletter .stretchChildrenWidth:first-child {
  width: 100% !important;
}

@media (max-width: 767px) {
  .flexRowContent--footer_methods {
    flex-wrap: wrap;
  }

  .flexRowContent--new-newsletter-wrapper,
  .flexRowContent--new-newsletter {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .flexRowContent--new-newsletter {
    gap: 7px;
  }
}

.flexRow--newsletter-wrapper {
  /*  background: url("https://magicfeet.vteximg.com.br/arquivos/_newsletter-desk-full.jpg?v=1") no-repeat 0%;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  display: flex;
  align-items: flex-end;
  background-color: #f8f9f9;
}

.flexRowContent--newsletter-wrapper
  :global(
    .vtex-store-components-3-x-imageElement--home__footer-powered--image
  ) {
  max-width: 485px;
}

@media (max-width: 767px) {
  .flexRow--newsletter-wrapper {
    /*  background: url("https://magicfeet.vteximg.com.br/arquivos/_newsletter-desk-full.jpg?v=1") no-repeat 0%; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    display: flex;
    align-items: center;
    background-color: #cecfd3;
  }

  .flexRowContent--newsletter-wrapper
    :global(
      .vtex-store-components-3-x-imageElement--home__footer-powered--image
    ) {
    max-width: 100%;
  }
}

.flexRowContent--newsletter-wrapper {
  gap: 40px;
  max-width: 1300px;
  width: 100%;
}

@media (max-width: 767px) {
  .flexRowContent--newsletter-wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 50px;
  }
  .flexRowContent--footer__newsletter {
    display: flex;
    justify-content: space-between;
  }
  .flexRowContent--footer__newsletter
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
  }
}

.flexRow--footer__newsletter {
  margin-top: 15px;
  border-bottom: 3px solid #1c1c1c;
  margin-bottom: 10px;
}

.flexRowContent--tips-home-row {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  position: relative;
  padding: 0 40px;
  margin: 0 auto;
  padding-top: 16px;
}

.flexRow--tips-home-row {
  margin: 0;
  display: contents;
  /* max-width: 1500px; */
  /* position: relative; */
  /* padding: 0 40px; */
}

@media (max-width: 767px) {
  .flexRowContent--tips-home-row {
    flex-wrap: wrap;
  }
}

.flexCol--tips-item-wrapper {
  padding: 0px 20px;
}

.flexRowContent--tips-home-row
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):not(:last-child) {
  border-right: 2px solid #e8e8e8;
}

.flexRow--tips-home-row {
  margin: 16px 0;
}

.flexRow--header-itens__menu
  :global(.vtex-login-2-x-container)
  :global(.vtex-button):hover {
  background: transparent;
}

.flexRow--header-itens__menu
  :global(.vtex-login-2-x-container)
  :global(.vtex-button__label) {
  background-image: url('data:image/svg+xml,<svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 14.75V13.25C0.5 12.4544 0.81607 11.6913 1.37868 11.1287C1.94129 10.5661 2.70435 10.25 3.5 10.25H6.5C7.29565 10.25 8.05871 10.5661 8.62132 11.1287C9.18393 11.6913 9.5 12.4544 9.5 13.25V14.75M8 4.25C8 5.90685 6.65685 7.25 5 7.25C3.34315 7.25 2 5.90685 2 4.25C2 2.59315 3.34315 1.25 5 1.25C6.65685 1.25 8 2.59315 8 4.25Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: 13.5px auto;
  width: 28px;
  height: 28px;
}

.flexRowContent--header-itens__menu :global(.vtex-button) {
  margin: 0 !important;
}

.flexRowContent--header-itens__menu :global(.vtex-button__label) {
  padding-left: 0;
}

.flexRow--header-itens__menu
  :global(.vtex-login-2-x-container)
  :global(.vtex-login-2-x-label) {
  display: none;
}

.flexRow--main-menu-department-block {
  width: 100%;
}

.flexColChild--main-slider-banner {
  width: 350px;
}

@media (max-width: 767px) {
  .flexRowContent--header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
  }
}

.flexRowContent--header__main--mob {
  display: flex;
  gap: 15px;
}

.flexRow--header__nivel3--mob {
  width: 100%;
  background: #5dff49;
  padding: 20px 0px;
  padding-left: 26px;
}

.flexRowContent--headsub__nivel3--mob {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  gap: 15px;
  padding-right: 50px;
}

.flexRowContent--header__nivel3--mob
  :global(.vtex-store-drawer-0-x-closeIconButton) {
  background-image: url('data:image/svg+xml,<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 9L1 5L5 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  width: 16px;
  padding: 0;
  display: block;
  height: 16px;
  margin-right: 15px;
}

.flexRowContent--header__nivel3--mob :global(.vtex-store-drawer-0-x-closeIcon) {
  display: none;
}

.flexRowContent--headsub__nivel3--mob
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: auto !important;
}

.flexRowContent--footer__nivel3--mob {
  background: #1c1c1c;
  padding: 40px;
  padding-left: 75px;
}

@media (max-width: 767px) {
  .flexRowContent--quem-home-cols {
    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  .flexRow--quem-home-cols :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 50% !important;
  }
  .flexRow--footer_methods {
    padding-bottom: 0;
    padding-top: 30px;
  }
  .flexRowContent--home__footer--developed-powered-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 80px;
  }
  .flexRow--footer__menu_mobile {
    background: #1c1c1c;
  }
  .flexRowContent--footer__menu_mobile {
    padding-bottom: 50px;
    display: block !important;
  }
  .flexRow--calendario-home-row {
    margin-bottom: 40px;
  }
}

.flexRowContent--calendario-home-row
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.flexRowContent--calendario-home-row {
  display: flex;
  flex-direction: column;
}

.flexColChild--search__categories-banner-col {
  margin-top: 10px;
  margin-bottom: 30px;
}

.flexRowContent--panda-search__count {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 767px) {
  .flexRow--home__categories-banner
    :global(.vtex-store-components-3-x-container),
  .flexRow--panda-search__products--mobile
    :global(.vtex-store-components-3-x-container),
  .flexRow--panda-search__order--mobile
    :global(.vtex-store-components-3-x-container),
  .flexRow--panda-search__main-title
    :global(.vtex-store-components-3-x-container) {
    padding: 0px;
  }
  .flexRowContent--panda-search__order--mobile {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .flexRow--panda-search__products--mobile {
    margin-top: 30px;
  }
  .flexRowContent--panda-search__main-title--seo {
    padding-left: 0;
  }
}

.flexRowContent--product__price {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .flexRowContent--product__price {
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
  }
}

.flexRowContent--product__main--btn
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 50% !important;
  margin: 10px 0;
}

.flexRowContent--product__main--btn :global(.vtex-button):hover {
  background: #5dff49;
}

.flexRowContent--product__main--btn :global(.vtex-button) {
  background: #1c1c1c;
  border-radius: 10px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flexRowContent--product__main--btn
  :global(.vtex-button):hover
  :global(.vtex-button__label) {
  color: #1c1c1c;
}

.flexRowContent--product__main--btn
  :global(.vtex-button):hover
  :global(.vtex-add-to-cart-button-0-x-buttonDataContainer)::before {
  filter: contrast(0) grayscale(1) brightness(0);
}

.flexRowContent--product__main--btn :global(.vtex-button__label) {
  font-family: "RobotoCondensed-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
}

.flexRowContent--product__main--btn
  :global(.vtex-add-to-cart-button-0-x-buttonDataContainer) {
  display: flex;
  align-items: center;
  gap: 13px;
}

.flexRowContent--product__main--btn
  :global(.vtex-add-to-cart-button-0-x-buttonDataContainer)::before {
  content: ".";
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='20' viewBox='0 0 17 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.2273 8.99037H14.5852V3.67037C14.5852 1.99125 13.2016 0.630371 11.4943 0.630371H5.50568C3.79844 0.630371 2.41477 1.99125 2.41477 3.67037V8.99037H0.772727C0.345312 8.99037 0 9.33 0 9.75037V18.8704C0 19.2907 0.345312 19.6304 0.772727 19.6304H16.2273C16.6547 19.6304 17 19.2907 17 18.8704V9.75037C17 9.33 16.6547 8.99037 16.2273 8.99037ZM4.15341 3.67037C4.15341 2.9365 4.75952 2.34037 5.50568 2.34037H11.4943C12.2405 2.34037 12.8466 2.9365 12.8466 3.67037V8.99037H4.15341V3.67037ZM15.2614 17.9204H1.73864V10.7004H15.2614V17.9204ZM7.82386 14.6191V15.8779C7.82386 15.9824 7.9108 16.0679 8.01705 16.0679H8.98295C9.0892 16.0679 9.17614 15.9824 9.17614 15.8779V14.6191C9.37547 14.4784 9.52425 14.279 9.60106 14.0498C9.67788 13.8206 9.67877 13.5733 9.6036 13.3436C9.52843 13.1138 9.38108 12.9135 9.18276 12.7714C8.98444 12.6292 8.74539 12.5526 8.5 12.5526C8.25461 12.5526 8.01556 12.6292 7.81724 12.7714C7.61892 12.9135 7.47157 13.1138 7.3964 13.3436C7.32123 13.5733 7.32212 13.8206 7.39893 14.0498C7.47575 14.279 7.62453 14.4784 7.82386 14.6191Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: 17px auto;
  width: 17px;
  padding: 0;
  display: block;
  height: 19px;
  font-size: 0;
}

.flexRowContent--main-menu-department-block-custom {
  display: flex;
  justify-content: center;
  width: 100%;

  > .stretchChildrenWidth {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .flexRowContent--shelf :global(.vtex-product-summary-2-x-containerNormal) {
    margin: 4px;
  }
  .flexRow--home__footer--high :global(.vtex-slider-layout-0-x-imageElement),
  .flexRowContent--payment-methods-flags
    :global(.vtex-slider-layout-0-x-imageElement) {
    margin: 8px 10px;
  }
}

.flexRowContent--panda-institucional {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  padding: 35px 0px;
}

@media (max-width: 767px) {
  .flexRowContent--panda-institucional {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    padding: 35px 0px;
    word-break: break-word;
    max-width: 100vw;
  }
}

.flexRow--footer__nivel1--mob {
  background: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 40px;
}

.flexCol--footer__nivel1--mob-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexCol--footer__nivel1--mob-2
  :global(.vtex-store-components-3-x-imageElement--social-networks-renderer) {
  filter: invert(0);
}

.flexRowContent--main-banner-quemsomos-row {
  display: flex;
  flex-direction: column;
  position: relative;
}

.flexRowContent--main-banner-quemsomos-row
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.flexColChild--sub-main-quemsomos-text {
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.flexRow--mvv-container-row {
  background: #363636;
}

.flexRowContent--mvv-container-row {
  background: #363636;
  display: flex;
  flex-direction: column;
  padding: 54px 104px;
}

.flexCol--mvv-container-text {
  display: flex;
  flex-direction: row;
  gap: 75px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.flexRowContent--mvv-container-row
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.flexColChild--mvv-container-text-center {
  display: flex;
  justify-content: flex-end;
}

.flexRow--panda-search__order--mobile
  :global(.vtex-store-components-3-x-container) {
  overflow: visible;
}

@media (max-width: 767px) {
  .flexColChild--sub-main-quemsomos-text {
    display: flex;
    align-items: center;
    padding-left: 0;
  }
  .flexRowContent--mvv-container-row {
    background: #363636;
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    gap: 40px;
  }
  .flexCol--mvv-container-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .flexCol--mvv-container-text-center {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .flexColChild--mvv-container-text-center {
    display: flex;
    justify-content: flex-start;
  }
}

.flexRowContent--sub-main-sejafranqueado-row {
  padding: 130px 0px;
}

.flexCol--sub-main-box-franqueado {
  background: #e8e8e8;
  border-radius: 0px 100px 0px 0px;
  padding: 60px 50px;
  margin-top: 50px;
}

.flexRowContent--sub-main-sejafranqueado-topics {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: stretch;
  justify-content: start;
  align-items: center;
  align-content: center;
  gap: 60px 50px;
}

.flexRowContent--sub-main-sejafranqueado-topics
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 90% !important;
}

.flexRow--slider-loja-sejafranqueado {
  margin-bottom: 150px;
}

.flexRow--slider-loja-sejafranqueado
  :global(.vtex-slider-layout-0-x-sliderLeftArrow--carousel-exclusivos) {
  left: -50px;
}

.flexRow--slider-loja-sejafranqueado
  :global(.vtex-slider-layout-0-x-sliderRightArrow--carousel-exclusivos) {
  right: -50px;
}

.flexRow--slider-loja-sejafranqueado
  :global(
    .vtex-slider-layout-0-x-paginationDotsContainer--carousel-exclusivos
  ) {
  bottom: -30px;
}

.flexRow--slider-loja-sejafranqueado
  :global(.vtex-slider-layout-0-x-imageElement--carousel-exclusivos) {
  max-height: unset !important;
}

@media (max-width: 767px) {
  .flexRowContent--sub-main-sejafranqueado-row {
    padding: 20px 0px;
  }
  .flexCol--sub-main-box-franqueado {
    background: #e8e8e8;
    border-radius: 0px 100px 0px 0px;
    padding: 35px 25px;
    margin-top: 50px;
  }
  .flexRowContent--sub-main-sejafranqueado-topics {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: stretch;
    justify-content: start;
    align-items: center;
    align-content: center;
    gap: 30px 40px;
    margin-top: 40px;
  }
  .flexRow--slider-loja-sejafranqueado {
    margin-bottom: 50px;
  }
}

.flexRow--shelf__product {
  margin-bottom: 60px;
}

.flexColChild--product__main
  :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  position: relative !important;
  right: 0 !important;
  display: block !important;
  text-align: right !important;
  position: relative !important;
  right: 0 !important;
  display: block !important;
  text-align: right !important;
}

.flexRowContent--mz-product__wishlist {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: flex-end;
  gap: 10px;
}

.flexColChild--product__main :global(.vtex-store-components-3-x-seeMoreButton) {
  display: block;
  width: 100%;
}

.flexColChild--product__main
  :global(.vtex-store-components-3-x-seeMoreButton)
  :global(.vtex-button):hover {
  background: transparent;
  opacity: 0.8;
}

.flexColChild--product__main
  :global(.vtex-store-components-3-x-seeMoreButton)
  :global(.vtex-button)
  :global(.vtex-button__label) {
  font-family: "Roboto-Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 80%;
  text-align: right;
  text-decoration-line: underline;
  color: #1c1c1c;
}

.flexColChild--product__main
  :global(.vtex-product-price-1-x-installments--Panda-summary-price)::before {
  content: "até";
  display: none;
}

.flexColChild--product__main
  :global(.vtex-product-price-1-x-installments--Panda-summary-price),
.flexColChild--product__main
  :global(.vtex-product-price-1-x-currencyContainer--summary) {
  font-family: "Roboto-Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: right;
  color: #1c1c1c;
}

@media (max-width: 767px) {
  .flexRowContent--product__main--btn
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    min-width: 100% !important;
  }
  .flexRowContent--product__main--btn :global(.vtex-button__label) {
    font-family: "RobotoCondensed-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    display: flex;
    justify-content: center;
  }
}

.flexRowContent--panda-tipo-entrega {
  display: flex;
  align-items: stretch;
  gap: 30px;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .flexRowContent--panda-tipo-entrega {
    display: flex;
    align-items: stretch;
    gap: 30px;
    margin-bottom: 0;
    flex-direction: column;
  }
}

.flexRowContent--panda-nossas-lojas {
  font-family: "WorkSans-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: rgb(0, 0, 0);
}

.flexRow--panda-formulario-direito {
  background: #5dff49;
  padding: 50px 0;
}

.flexRow--calendario-home-row {
  display: none;
}

.flexRowContent--tips-core-pages {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #f2f2f2;
  margin-bottom: 20px;
  padding: 15px 0;
}

.flexRowContent--tips-core-pages
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 1330px !important;
  margin: 0 auto;
}

.flexRowContent--tips-core-pages
  :global(.vtex-flex-layout-0-x-flexRow--tips-home-row) {
  margin: 0;
}

.flexRowContent--tips-core-pages
  :global(.vtex-rich-text-0-x-paragraph--tips-item-text) {
  margin: 0;
}

.flexRowContent--tips-core-pages
  :global(.vtex-flex-layout-0-x-flexCol--tips-item-wrapper) {
  padding: 0;
}

.flexRowContent--tips-core-pages
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child
  :global(.vtex-flex-layout-0-x-flexCol--tips-item-wrapper) {
  border-right: 0;
}

.flexRowContent--tips-core-pages
  :global(.vtex-store-components-3-x-imageElement--tips-item-img) {
  height: 25px;
}

.flexRowContent--tips-core-pages
  :global(.vtex-rich-text-0-x-container--tips_home_text_mobile) {
  display: none;
}

@media (max-width: 767px) {
  .flexRowContent--tips-core-pages
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100% !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .flexRowContent--tips-core-pages {
    padding: 10px 0;
  }
}

.flexRow--ace1-footer,
.flexRow--ace1-header,
.flexRow--ace1-main,
.flexRow--ace1-beneficios,
.flexRow--ace1-infocards1,
.flexRow--ace1-infocards2,
.flexRow--ace1-infocards3 {
  background-color: rgb(247 244 242);
}

.flexRow--ace1-prefooter {
  background-color: #485156ff;
}

.flexRow--ace1-footer {
  padding: 40px 0px;
}

.flexRowContent--ace1-header {
  padding: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.flexColChild--ace1-prefooter,
.flexColChild--ace1-main {
  height: auto !important;
}

.flexRowContent--ace1-prefooter,
.flexRowContent--ace1-main {
  display: flex;
  align-items: center;
}

.flexRow--ace1-beneficios {
  padding: 80px 0px;
}

.flexRowContent--ace1-beneficios {
  display: flex;
  flex-direction: column;
}

.flexRowContent--ace1-beneficios
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.flexRowContent--ace1-beneficios-cols {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.flexCol--beneficios-container-text {
  text-align: center;
}

.flexRow--ace1-infocards1,
.flexRow--ace1-infocards2 {
  padding-bottom: 80px;
}

.flexRowContent--ace1-infocards1,
.flexRowContent--ace1-infocards2,
.flexRowContent--ace1-infocards3 {
  display: flex;
  align-items: center;
  gap: 40px;
}

.flexColChild--ace1-prefooterimg {
  display: flex;
  align-items: flex-end;
}

.flexRow--ace1-text-footer {
  width: 100%;
  display: flex;
  padding: 48px;
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(
    113.8deg,
    rgba(255, 76, 92, 0.8) 7.5%,
    rgba(255, 177, 70, 0.8) 94.47%
  );
  background-repeat: top left;
  background-position: top left, right;
}

@media (max-width: 767px) {
  .flexRowContent--ace1-prefooter,
  .flexRowContent--ace1-main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .flexRow--ace1-beneficios {
    padding: 20px 0px;
  }
  .flexRowContent--ace1-beneficios-cols {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 20px;
    flex-direction: column;
  }
  .flexRowContent--ace1-infocards1,
  .flexRowContent--ace1-infocards2,
  .flexRowContent--ace1-infocards3 {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
  .flexRowContent--ace1-infocards2 {
    flex-direction: column-reverse;
  }
  .flexRow--ace1-infocards1,
  .flexRow--ace1-infocards2 {
    padding-bottom: 30px;
  }
  .flexRow--ace1-text-footer {
    padding: 10px;
  }
}

.flexRowContent--black-header-tag {
  display: flex;
  justify-content: center;
}

.flexRow--black-header-tag {
  background: #5dff49;
  padding: 13px 0px;
  width: 100%;
}

.flexCol--black-header-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.flexColChild--black-header-tag {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .flexRow--black-header-tag {
    background: #5dff49;
    padding: 7px 0px;
  }

  .flexColChild--black-header-tag {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-right: 0%;
  }
}

.flexRow--highlights-stack-wrapper-search-search {
  position: absolute;
}

.flexColChild--product__main
  :global(.vtex-flex-layout-0-x-flexCol--highlights-stack) {
  text-align: left;
  display: flex;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .flexRow--highlights-stack-wrapper-search-search {
    position: absolute;
  }
}

.flexRowContent--panda-retirada-em-loja-topo {
  background: #5dff49;
}

.flexRowContent--panda-retirada-em-loja {
  gap: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.flexCol--retirada-em-loja-card {
  max-width: 300px;
}

.flexRowContent--panda-retirada-em-loja-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

.flexRowContent--panda-retirada-em-loja-faq
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}

@media (max-width: 767px) {
  .flexRowContent--panda-retirada-em-loja {
    gap: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .flexCol--retirada-em-loja-card {
    max-width: 90%;
    margin: 0 auto;
  }
}

.flexRow--newsletter-wrapper
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  display: flex;
  flex-direction: column;
}

.flexColChild--main-menu-brands {
  height: auto !important;
}

.flexColChild--main-menu-brands-outlet {
  max-width: 27rem;
}

.flexRowContent--shelf :global(.vtex-slider-layout-0-x-sliderLeftArrow--shelf) {
  margin-left: -40px;
}

.flexRowContent--shelf
  :global(.vtex-slider-layout-0-x-sliderRightArrow--shelf) {
  margin-right: -40px;
}

.flexRowContent--shelf
  :global(.vtex-store-components-3-x-discountInsideContainer) {
  background-color: #000;
  font-family: "WorkSans-Bold";
}

.flexColChild--block-image__product-pdp {
  display: flex;
  justify-content: flex-end;
}

.flexRow--block-flags-pdp {
  width: 75%;
  position: relative;
  top: 35px;
  left: 0px;
  z-index: 5;
}

.flexRow--block-flags-pdp
  :global(.vtex-flex-layout-0-x-flexCol--highlights-stack) {
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
}

.flexRow--block-flags-pdp
  :global(
    .vtex-product-highlights-2-x-productHighlightText--collection-highlight-tag
  ) {
  text-transform: uppercase;
  padding: 4px 10px 3px 10px;
}

.flexRowContent--block-flags-pdp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 767px) {
  .flexRow--block-flags-pdp
    :global(
      .vtex-product-highlights-2-x-productHighlightText--collection-highlight-tag
    ) {
    margin-bottom: 0px;
  }
  .flexRow--block-flags-pdp {
    width: 100%;
  }

  .flexCol--infocard-chances-wrapper-menor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .flexCol--infocard-chances-wrapper-menor
    :global(.vtex-store-link-0-x-childrenContainer--infocard-chances-wrapper) {
    width: 45vw;
  }
}

.flexRowContent--novidades-home-rowTtitle {
  margin-top: 25px;
}

.flexRowContent--banner-principal-topo
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100vw !important;
}

.flexRow--beneficios-cashback {
  padding-top: 42px;
  padding-bottom: 42px;
}

@media screen and (max-width: 768px) {
  .flexRow--beneficios-cashback {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
  }
}

.flexRow--beneficios-cashback
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  width: 100% !important;
  max-width: 1100px;
  margin: 0 auto;
}

.flexRow--beneficios-cashback
  .flexRowContent--beneficios-cashback-slider
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}
.flexRowContent--beneficios-cashback {
  flex-direction: column;
  align-items: center;
}

.flexRow--beneficios-cashback-slider {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .flexRow--beneficios-cashback-slider {
    margin-top: 30px;
  }
}

.flexRowContent--como-usar-cashback {
  flex-direction: column;
}

.flexRowContent--como-usar-cashback
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.flexRowContent--como-usar-cashback :global(.vtex-store-link-0-x-link) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5dff49;
  height: 78px;
  color: #000;
  text-align: center;
  font-family: "WorkSans-Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-top: 10px;
}

.flexRowContent--como-usar-cashback
  .flexRowContent--container-como-usar-cashback {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 90px;
  justify-content: space-between;
  align-items: flex-end;
  gap: 60px;
}
@media screen and (max-width: 768px) {
  .flexRowContent--como-usar-cashback
    .flexRowContent--container-como-usar-cashback {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 0px;
    padding-bottom: 60px;
  }
}

.flexRowContent--como-usar-cashback
  .flexRowContent--container-como-usar-cashback
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  width: 35% !important;
}
@media screen and (max-width: 768px) {
  .flexRowContent--como-usar-cashback
    .flexRowContent--container-como-usar-cashback
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    width: 100% !important;
  }
}
.flexRow--regras-cashback {
  background-image: url("assets/img/bg-cashback-regras.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 80px 0;
}

@media screen and (max-width: 768px) {
  .flexRow--regras-cashback {
    padding: 20px 0;
    background-image: url("assets/img/bg-cashback-regras-mobile.svg");
  }
}

.flexRowContent--container-regras-cashback {
  flex-direction: column;
  align-items: center;
}
.flexRowContent--container-regras-cashback
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
  max-width: 950px;
  margin: 0 auto;
}

.flexColChild--regras-cashback-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.flexColChild--regras-cashback-link :global(.vtex-store-link-0-x-link) {
  color: #000;
  text-align: center;
  font-family: "WorkSans-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 26px;
  background: #5dff49;
  width: 187px;
  height: 38px;
}

.flexRowContent--container-accordion-cashback {
  max-width: 1280px;
  margin: 0 auto;
  flex-direction: column;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 768px) {
  .flexRowContent--container-accordion-cashback {
    padding-bottom: 24px;
  }
}

.flexRowContent--container-accordion-cashback
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
  align-items: center;
  flex-direction: column;
}

.flexRowContent--texto-topo-intro-cashback-mobile {
  flex-direction: column;
  padding: 24px 20px;
}

.flexRowContent--texto-topo-intro-cashback-mobile
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  .flexColChild--beneficios-cashback-col-text {
    display: flex;
  }

  .flexCol--security-badges-mobile {
    margin-top: 40px !important;
  }
}

@media screen and (max-width: 767px) {
  .flexColChild--conteudo-como-usaqr-cashback {
    padding: 0 10px;
  }
}

.flexColChild--main-menu-menu-principal,
.flexColChild--main-number-column {
  height: auto !important;

  &:first-child {
    flex: 1;
  }
}

.flexCol--main-menu-brands-outlet {
  margin-left: 1rem;
}

.col {
  flex-direction: column;
}

.flexRowContent--header-menu-accordion {
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  &::after {
    content: "";
    width: 10px;
    height: 12px;
    background-image: url('data:image/svg+xml,<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 11L6 6L1 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: auto;

    transition: transform 0.3s;
  }
}

.flexRowContent--header-menu-accordion
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  min-width: 2.5rem !important;
  min-height: 2.5rem;
  max-width: 2.5rem;
  max-height: 2.5rem;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  padding: 0.25rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.flexRowContent--header__nivel3--mob {
  display: flex;
  align-items: center;
}

.flexColChild--headsub__nivel3--mob
  :global(.vtex-store-drawer-0-x-closeIconButton) {
  background-image: url('data:image/svg+xml,<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 9L1 5L5 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;

  padding: 1rem;
  width: 6px;
  height: 10px;

  svg {
    display: none;
  }
}

.flexColChild--main-number-menu,
.flexCol--main-menu-menu-principal {
  min-width: 15rem;
}

.flexRowContent--main-menu-banner-links {
  gap: 2rem;
  border-top: 1px solid #f2f2f2;
  padding-top: 1rem;
}

.flexRowContent--header-brands-list {
  padding: 22px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowContent--header-brands-list
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  flex-wrap: wrap;
  gap: 0.75rem;
}

.flexCol--header__links {
  width: fit-content !important;
}

.flexCol--header__logo,
.flexRow--header__menu {
  width: auto !important;
}

.flexCol--header__search {
  max-width: 190px;
}

.flexColChild--header__logo {
  margin-bottom: -10px;
}

@media screen and (min-width: 80em) and (max-width: 1360px) {
  .flexRow--header__main {
    padding: 0 16px;
  }
}

.flexRow--menu-line-separator {
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  position: absolute;
  left: 0;
  bottom: 60px;
}

.flexColChild--footer-menu-mobile-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.flexRowContent--payment-methods-images {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  > div {
    align-items: center;
  }
}

.flexRow--payment-methods-images {
  max-width: 245px;
}

.flexCol--security-badges-mobile {
  margin-top: 40px;
}

.flexRowContent--security-badges-images-mob {
  display: flex;
  align-items: center;
  gap: 16px;
}

.flexRow--block-flags-pdp
  :global(
    .vtex-product-highlights-2-x-productHighlightWrapper--collection
  )[data-highlight-id="331"] {
  height: 100%;
  padding: 7px 9px 3.5px;
}

/* New home */
.flexCol--infocard-categorias {
  margin-top: 65px;
}

.flexCol--infocard-categorias-grid {
  display: grid;
  grid-template-columns: 0.333fr 0.315fr 0.038fr 0.315fr;
  grid-template-rows: 295px 295px;
  grid-template-areas:
    "card1 card2 card2 card3"
    "card1 card4 card5 card5";
  gap: 10px;
}

.flexCol--infocard-categorias-grid
  .flexColChild--infocard-categorias-grid:first-child {
  grid-area: card1;
}

.flexCol--infocard-categorias-grid .flexColChild--infocard-categorias-grid {
  &:nth-child(2) {
    grid-area: card2;
  }
  &:nth-child(3) {
    grid-area: card3;
  }
  &:nth-child(4) {
    grid-area: card4;
  }
  &:nth-child(5) {
    grid-area: card5;
  }
}

.flexRowContent--banner-app-home {
  > div:first-child {
    width: 100% !important;
  }
}

.flexRow--banner-app-home {
  padding-bottom: 60px;
}

.flexRowContent--best-sellers-home {
  margin-top: 65px;
  position: relative;
}

.flexRow--favorite-character {
  margin-top: 92px;
}

.flexColChild--shelf-list-info {
  width: fit-content;
}

.flexRowContent--product-prices-info {
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-top: 6px;
}

.flexRowContent--shelf-list {
  gap: 14px;
  align-items: center;
}

.flexRowContent--genders-shelf-home {
  margin-top: 65px;
}

.flexRow--home-week-featured {
  opacity: 0;
  overflow: hidden;
}

.flexRowContent--home-week-featured {
  margin-top: 40px;
  position: relative;
  width: calc(100vw - ((100vw - 1400px) / 2));
}

.flexRowContent--pdp-description-brand-tag {
  background-color: #f2f3f5;
  border-radius: 16px;
  padding: 16px;
  justify-content: flex-start;
  gap: 16px;
}

.flexRowContent--pdp-description-brand-name {
  align-items: center;
  gap: 5px;
}

.flexRowContent--product {
  gap: 18px;
}

.flexRowContent--home-sports-shelf {
  margin-top: 65px;
}

.flexRowContent--buy-together {
  overflow: hidden;

  [class*="react-dropdown-select-dropdown"] {
    top: 40px;
  }

  [class*="react-dropdown-select-item"] {
    color: #000;
    background-color: #fff;
  }

  [class*="react-dropdown-select-item-selected"] {
    background-color: #333 !important;
    color: #fff !important;
  }

  [class*="react-dropdown-select-dropdown-handle"]:hover path {
    stroke: #fff;
  }
}

@media screen and (max-width: 990px) {
  .flexRow--banner-app-home :global(.vtex-store-components-3-x-container) {
    overflow: unset;
  }

  .flexCol--infocard-categorias-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 175px 175px;
    grid-template-areas:
      "card1 card1 card1"
      "card2 card2 card3"
      "card4 card5 card5";
    gap: 5px;
  }

  .flexRowContent--banner-app-home {
    margin-top: 64px;

    > div:nth-child(1) {
      width: unset !important;
    }
    > div:nth-child(2) {
      width: 100% !important;
      flex-direction: column;
    }
  }

  .flexRowContent--brands-home-row,
  .flexRowContent--home-sports-shelf {
    margin-top: 40px;
  }

  .flexRowContent--title-slider-week-featured {
    flex-direction: column;
  }

  .flexRowContent--home-week-featured {
    width: 100%;
  }

  .flexRowContent--best-sellers-home,
  .flexRowContent--genders-shelf-home {
    width: 100vw;
  }

  .flexRowContent--pdp-description-brand-tag,
  .flexRowContent--pdp-description-brand-name {
    display: flex;
  }

  .flexRowContent--pdp-description-brand-tag {
    margin-bottom: 20px;
  }
}

/* Tablet */
.flexRowContent--tips-core-pages
  :global(.vtex-flex-layout-0-x-flexRowContent--tips-home-row) {
  padding-top: 0;
}

@media (max-width: 990px) {
  .flexRowContent--header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
  }

  .flexRowContent--footer_methods {
    flex-wrap: wrap;
  }

  .flexRowContent--new-newsletter-wrapper,
  .flexRowContent--new-newsletter {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .flexRowContent--new-newsletter {
    gap: 7px;
  }

  .flexRowContent--new-newsletter-wrapper .stretchChildrenWidth {
    width: 100% !important;
  }

  .flexRow--footer__menu_mobile {
    background: #1c1c1c;
  }

  .flexRowContent--footer__menu_mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-bottom: 50px;
  }

  .flexRowContent--footer__menu_mobile .stretchChildrenWidth {
    width: auto !important;
  }

  .flexCol--security-badges-mobile {
    margin-top: 0px;
  }

  .flexRow--footer_methods .stretchChildrenWidth {
    width: 100% !important;
  }
  .flexRowContent--home__footer--developed-powered-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 80px;
  }

  .flexRowContent--product {
    display: block;
  }

  .flexRowContent--product .stretchChildrenWidth {
    width: 100% !important;
  }

  .flexRowContent--pdp-description-brand-tag .stretchChildrenWidth {
    width: auto !important;
  }

  .flexRowContent--product__main--btn :global(.vtex-button__label) {
    justify-content: center;
  }

  .flexRowContent--panda-search__order--mobile {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .flexRowContent--tips-home-row {
    padding-top: 0px;
  }

  .flexRowContent--tips-core-pages {
    margin-bottom: 0px;
  }
}

@media (min-width: 100px) {
  .flexRowContent--tips-core-pages .stretchChildrenWidth {
    width: 100% !important;
  }
}
