.savings--product-discount-tag-category {
  position: absolute;
  top: 16.5px;
  left: 16px;
  background-color: #D8F7D4;
  padding: 6.5px 14.5px;
  border-radius: 4px;
  
  color: #30A46C;
  font-family: "WorkSans-Bold", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 160%;
}

@media screen and (max-width: 990px) {
  .savings--product-discount-tag-category {
    top: 8px;
    left: 8px;
    padding: 4px 8px;
  }
}