.notifyUnavailableModal {
  width: 80vw;
  max-width: 533px;
  margin: auto 16px 16px auto;
  height: 80dvh;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  position: relative;

  p {
    margin: 0;
  }

  [class*="ml8-ns"] {
    display: flex;
    margin: 0;
  }

  [class="min-h-regular min-h-large-ns pl6 pl8-ns"] {
    padding: 0;
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    height: fit-content;
    min-height: unset;

    >[class*="fr"] {
      padding: 0;
    }

    [class="ph3-ns pt3-ns pb2-ns ph2 pt2 pb1 br2 hover-b--transparent hover-bg-action-secondary hover-b--action-secondary"] {
      background-color: transparent !important;
    }
  }

  [id="vtex-modal__title"] {
    display: flex;
  }

  [class*="vtex-styleguide-9-x-maxHeight80"] {
    height: 100%;
    max-height: unset;

    [class*="vtex-styleguide-9-x-scrollBar"] {
      padding: 0;
    }
  }
}

.notifyUnavailableForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.notifyUnavailableInput {
  background-color: #F8F9F9;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #F2F3F5;

  &:focus {
    outline: none;
    border-color: #000;
  }
}

.notifyUnavailableToggleWrapper {}


.notifyUnavailableToggleSizes {
  background-color: #F8F9F9;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #F2F3F5;
  width: 100%;
  text-align: left;
}

.notifyUnavailableToggleSizesContent {
  display: none;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.notifyUnavailableToggleSizesContentOpen {
  display: flex;
}

.notifyUnavailableToggleSizesSize {
  background-color: #F8F9F9;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #F2F3F5;
}

.notifyUnavailableToggleSizesSizeActive {
  border-color: #000;
}
