.searchBarInnerContainer--header__search--not-found {
  background-color: #F2F3F5;
  border-radius: 8px;
  padding: 4px 16px;

  :global(.vtex-input-prefix__group) {
    flex-direction: row;
    border: none;
  }

  :global(.vtex-styleguide-9-x-input), :global(.vtex-input__suffix) {
    background-color: transparent;
  }
}

.searchBarIcon--header__search--not-found {
  color: #000;
}

.searchBarIcon--header__search--not-found--search {
  svg {
    display: none;
  }

  &::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.5001 19.5001L14.5001 14.5001M16.1668 10.3334C16.1668 13.5551 13.5551 16.1668 10.3334 16.1668C7.1117 16.1668 4.5 13.5551 4.5 10.3334C4.5 7.1117 7.1117 4.5 10.3334 4.5C13.5551 4.5 16.1668 7.1117 16.1668 10.3334Z" stroke="%2361656B" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.autoCompleteOuterContainer--header__search--not-found {
  padding: 0 !important;
}

@media screen and (max-width: 640px) {
  .portalWrapper--header__search--not-found {
    [class="absolute"] {
      max-width: 90vw;
    }
  }
}