.coreLojas {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.coreLojasSelects {
  display: flex;
  align-items: center;
  gap: 16px;
}

.coreLojasSelectItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  width: 100%;
  max-width: 320px;
  position: relative;
}

.coreLojasSelectItem label {
  font-family: 'WorkSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
}

.coreLojaSelectTrigger {
  border-radius: 4px;
  padding: 16px;
  cursor: pointer;
  background: #F8F9F9;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  font-size: 14px;
  line-height: 160%;
  color: #121416;
}

.coreLojaSelectTrigger.disabled {
  opacity: 0.5;
  pointer-events: none;
  color: #AAAFB5;
}

.coreLojaSelectPlaceholder {
  color: #AAAFB5;
}

.coreLojaSelectOptions {
  position: absolute;
  background: #fff;
  border: 1px solid #AAAFB51A;
  margin-top: 4px;
  z-index: 10;
  max-height: 300px;
  top: 82px;
  overflow-y: auto;
  width: 100%;
  box-shadow: 0px 4px 4px 0px #00000005;

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #8E8E93;
    border-radius: 20px;
    border: 4px solid #fff;
  }
}

.coreLojaSelectOption {
  padding: 14px 20px;
  border-bottom: 1px solid transparent;

  font-size: 14px;
  line-height: 160%;
  color: #121416;

  cursor: pointer;
}

.coreLojaSelectOption:hover {
  background: #5DFF49;
  border-bottom: 1px solid #000;
  font-family: 'WorkSans-Bold', sans-serif;
  font-weight: 700;
}

.coreLojasListHeader {
  margin-bottom: 24px;
  font-size: 14px;
  color: #121416;
  line-height: 160%;
}

.coreLojasQuantity {
  display: inline-flex;
  font-family: 'WorkSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #121416;

  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  background-color: #5DFF49;
  border: 1px solid #000;
  border-radius: 999px;
}

.coreLojasCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.cardLojas {
  width: 100%;
  border: 1px solid var(--Neutral-Gray-200, #E3E6E8);
  padding: 24px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.cardLojas h4 {
  font-family: 'WorkSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #171A1C;
  margin: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #F2F3F5;
}

.coreLojaCardInfo {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.coreLojasCardInfoItem {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  svg {
    flex-shrink: 0;
  }
}

.coreLojasCardInfoItem p {
  font-size: 12px;
  line-height: 160%;
  letter-spacing: .2px;
  color: #45494F;
  margin: 0;
}

.coreLojasCardButton {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
  width: 100%;
  background-color: #1C1C1C;
  padding: 5px;
  border-radius: 4px;

  color: #fff;
  font-family: 'RobotoCondensed-Bold', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .coreLojasCards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .coreLojasSelects {
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }

  .coreLojasSelectItem {
    max-width: 100%;
  }

  .coreLojasCards {
    grid-template-columns: repeat(1, 1fr);
  }
}