.miniModalWrapper {
  position: absolute;
  inset: 0;
  z-index: 20;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: background-color 0.3s ease;
}

.miniModalWrapper--open {
  background-color: #8d8d8d4d;
  pointer-events: auto;
}

.miniModal {
  background: white;
  border-radius: 0 8px 0 0;
  box-shadow: 0px -4px 15px rgba(0,0,0,0.15);
  transform-origin: bottom left;
  transform: translate(-50%, 100%);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.35s ease;

  width: 95%;
  max-width: 502px;
  max-height: 90%;
  overflow: hidden;
}

.miniModal--open {
  transform: translate(0, 0);
  opacity: 1;
}

.triggerArea {
  position: absolute;
  inset: 0;
  cursor: pointer;
  z-index: 10;
}

.miniModalClose {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}